@use '../../../variables.scss' as v;

h3 {
  padding: 6px;
  background-image: linear-gradient(to right, v.$user-settings-color-one, v.$user-settings-color-gradient-end);
  //font-style: italic;
  color: v.$header-text-color-two;
}

.row {
  padding: 4px;
}

.description {
  font-style: italic;
}

.btn-save-settings {
  color: v.$button-text-color-two;
  background-color: v.$user-settings-color-two;
}

.btn-change-password {
  color: v.$button-text-color-two;
  background-color: v.$user-settings-color-two;  
}