<div class="d-flex flex-column next-time-container">

  <div class="d-flex next-time section-header">
    <div class="pt-2">
      <span class="section-title micro-widget-opaque">{{planningAhead() ? 'Next' : 'This'}} Time</span>
    </div>
  </div>

  <div class="d-flex pt-2 little-footroom flex-row px-2">
    <div class="half-area">
      <strong>Resistance Amount</strong>
    </div>

    @if (formGroup()) {
      <div class="half-area" [formGroup]="formGroup()">

        <!--TODO: Create a child component for this-->
        @if (formGroup().controls.resistanceType.value != resistanceTypeEnum.ResistanceBand && formGroup().controls.resistanceType.value !=resistanceTypeEnum.BodyWeight) {
          <input wtSelectOnFocus type="number" class="amount trail-space" formControlName="resistanceAmount" required />
        } @else if (formGroup().controls.resistanceType.value == resistanceTypeEnum.ResistanceBand) {
          <span class="no-input-value">
            @if (formGroup().controls.resistanceAmount.value) {
              {{formGroup().controls.resistanceAmount.value | resistanceAmount:true}}
              <span class="trail-space">(<span
                  [innerHTML]="formGroup().controls.resistanceMakeup.value | resistanceBandColor"></span>)</span>
            }
          </span>
        } @else if (formGroup().controls.resistanceType.value == resistanceTypeEnum.BodyWeight) {
          <span class="no-input-value">
            Body Weight
          </span>
        }
        
      </div>
    }
  </div>

  <div class="d-flex bottom-padded px-2">
    <div class="half-area">
      <strong>Target Rep Count</strong>
    </div>
    @if (formGroup()) {
      <div class="half-area" [formGroup]="formGroup()">
        @if (formGroup().controls.involvesReps.value) {
          <input wtSelectOnFocus type="number" class="amount"
          formControlName="targetRepCount" required />
        } @else {
          <span class="pre-pop-value">N/A</span>
        }
      </div>
    }
  </div>

  <div class="d-flex align-content-end flex-grow-1 px-2">
    @if (formGroup().invalid) {
      <span class="info-required">Information required</span>
    }
  </div>

  @if (formGroup().controls.resistanceType.value == resistanceTypeEnum.ResistanceBand) {
    <div class="d-flex align-content-end little-footroom px-2">
      <button class="btn btn-choose-resistance btn-sm btn-fullWidth"
        (click)="selectResistanceBands(formGroup())">Choose Resistance</button>
    </div>
  }

  @if (workoutHasBeenExecutedBefore() && formGroup().controls.resistanceType.value != resistanceTypeEnum.BodyWeight) {
    <div class="d-flex align-content-end little-footroom px-2">
      <button 
        class="btn btn-same-as-last-time btn-sm btn-fullWidth" (click)="useSameResistanceAsLastTime()">Use Same Resistance as Last
        Time
      </button>
    </div>
  }

</div>