@import '../../../variables.scss';

.next-time-container {
  margin-left: -12px;
  margin-right: -12px;
  height: 100%; 
  padding-left: 0; 
  padding-right: 0;
  flex: 0 0;
  border-left-style: solid;
  //border-right-style: solid;
  border-top-style: solid;
  border-bottom-style: solid;
  border-color: $workout-color-four;
}

.next-time {
  background-color:white;
  padding-left: 4px;
}

.section-header {
  //background-image: url('../../../assets/images/blue-steel.png');
  //border-style: solid;
  //border-color: $workout-color-four;
  padding-bottom: 8px;
}

.btn-choose-resistance {
  color: white;
  background-color: $workout-color-two;
}

.btn-same-as-last-time {
  color: white;
  background-color: $workout-color-three;
}

.end-padding {
  padding-bottom: 10px;
}

.amount {
  width: 40px;
  /*margin-left: 4px;*/
}

.no-input-value {
  font-weight: normal;
}

.half-area {
  flex: 1;
}

/* Suppress numeric input arrows/spinners as explained at https://www.w3schools.com/howto/howto_css_hide_arrow_number.asp */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
/* End numeric input arrows/spinners suppression */

.error {
  border-color: red;
  border-style: solid;
}

input.ng-invalid.ng-touched {
  border-color: red;
}

.info-required {
  color: red;
  font-style: italic;
}

.bottom-aligned {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}