<div class="container">
  <div class="row">
    <div class="headroom offset-4 col-8">
      <h3>Change Your Password</h3>
      <form [formGroup]="changePasswordForm" novalidate>
        <div class="form-group">
          <label class="center-block headroom">
            Current Password:
            <input type="password" class="form-control" formControlName="currentPassword" placeholder="Current Password (required)" />
          </label>
          @if (changePasswordForm.controls.currentPassword.touched) {
            @if (changePasswordForm.controls.currentPassword.errors?.required) {
              <span class="text-danger headroom"> Required.</span>
            }

            @if (changePasswordForm.controls.currentPassword.errors?.minlength) {
              <span class="text-danger headroom"> Must be at least 7 characters.</span>
            }
          }
        </div>

        <div class="form-group">
          <label class="center-block headroom">
            Password:
            <input type="password" class="form-control" formControlName="password" placeholder="New Password (required)" />
          </label>
          @if (changePasswordForm.controls.password.touched) {
            @if (changePasswordForm.controls.password.errors?.required) {
              <span class="text-danger headroom"> Required.</span>
            }

            @if (changePasswordForm.controls.password.errors?.minlength) {
              <span class="text-danger headroom"> Must be at least 7 characters.</span>
            }
          }
        </div>
        
        <div class="form-group">
          <label class="center-block headroom">
            Confirm Password:
            <input type="password" class="form-control" formControlName="confirmPassword" placeholder="Confirm (required)" />
          </label>
          @if (changePasswordForm.controls.confirmPassword.touched) {
            @if (changePasswordForm.controls.confirmPassword.errors?.required) {
              <span class="text-danger headroom"> Required.</span>
            }

            @if (changePasswordForm.controls.confirmPassword.errors?.minlength) {
              <span class="text-danger headroom"> Must be at least 7 characters.</span>
            }
            
            @if (changePasswordForm.errors?.passwordsMatch) {
              <span class="text-danger headroom"> Passwords must match.</span>
            }
          }
        </div>

        <div class="headroom">
          <button type="submit" [disabled]="changePasswordForm.invalid || changingPassword()" (click)="changePassword()" class="btn btn-success">Change Password</button>
          &nbsp;
          <button type="button" [disabled]="changingPassword() || passwordChanged()" (click)="cancel()" class="btn btn-warning">Cancel</button>
        </div>

        <div class="headroom">
          @if (changingPassword()) {
            <span>Saving...</span> 
          }
          
          @if (errorMessage()) {
            <span class="error-text">{{errorMessage()}}</span>
          }

          @if (passwordChanged()) {
            <span>Password changed! <button class="btn btn-primary btn-sm" routerLink="/">Back to Home</button> </span>
          }
        </div>

      </form>
    </div> 
  </div>  
</div>
