@import '/src/variables.scss';

.end-to-end-selection {
  padding-top: 38px;
}

.header {
  padding-top: 6px;
  padding-right: 6px;
  padding-bottom: 6px;
  padding-left: 14px;
  background-image: linear-gradient(to right, $exercise-color-tertiary, $exercise-color-gradient-end);
  font-style: italic;
  color: $header-text-color-primary;
}

.btn-save-exercise {
  color: $button-text-color-primary;
  background-color: $exercise-color-tertiary;
}