<nz-table #dt 
  [nzFrontPagination]="false"
  [nzShowSizeChanger]="true"
  [nzTotal]="totalRecords()"
  [nzPageSize]="10"
  [nzLoading]="_exerciseResource.isLoading()"
  [nzData]="_exerciseResource.value().results"
  (nzQueryParams)="updateQueryParams($event)"
  >
  <thead>
    <tr>
      <th>Name</th>
      <th>Target Areas</th>
    </tr>
    <tr>
      <th>
        <input type="text" [(ngModel)]="_nameFilter" />
      </th>
      <th>
        <nz-select 
          [nzMaxTagCount]="3"
          nzMode="multiple"
          [nzMaxTagPlaceholder]="tagPlaceHolder"
          nzPlaceHolder="Please select"
          [(ngModel)]="_selectedTargetAreas" 
          class="ms-2"
          (ngModelChange)="targetAreasFilterChange($event)"
          >
          @for (targetArea of targetAreas(); track targetArea) {
            <nz-option [nzLabel]="targetArea" [nzValue]="targetArea"></nz-option>
          }
        </nz-select>
        <ng-template #tagPlaceHolder let-selectedList>and {{ selectedList.length }} more selected</ng-template>
      </th>
    </tr>
  </thead>
  <tbody>
    @for (exercise of dt.data; track exercise.id) {
      <tr>
        <td style="width: 40%">
          <a href="javascript:void(0)" class="exerciseName" (keypress.enter)="selectExercise(exercise)" (click)="selectExercise(exercise)">{{exercise.name}}</a>
        </td>
        <td [style]="{'overflow': 'visible'}">
          {{exercise.targetAreas}}
        </td>
      </tr>
    }
  </tbody>
</nz-table>
