<p-progressSpinner *ngIf="workout == null"></p-progressSpinner>
<ng-container *ngIf="workout">
  <h5>{{workout?.name}}</h5>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Exercise</th>
        <th scope="col">Sets</th>
        <th scope="col">Resistance Type</th>
        <th scope="col">Target Areas</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let exercise of workout.exercises">
        <td>{{exercise.exercise.name}}</td>
        <td>{{exercise.numberOfSets}}</td>
        <td>{{exercise.exercise.resistanceType | resistanceType}}</td>
        <td>{{exercise.exercise.exerciseTargetAreaLinks | targetAreas}}</td>
      </tr>
    </tbody>
  </table>

</ng-container>