<h3 class="headroom">Workout History</h3>
<div class="container-fluid">
  <div class="row">
      <div class="col-md-12">
          <p-table #dt class="table table-striped w-auto"  [value]="executedWorkouts" [paginator]="true" [columns]="cols" [rows]="pageSize" [lazy]="true" (onLazyLoad)="getExecutedWorkoutsLazy($event)" [totalRecords]="totalRecords" [loading]="loading">
              <ng-template pTemplate="header" let-columns>
                  <tr>
                      <th>Workout Name</th>
                      <th>Start Date/Time</th>
                      <th>End Date/Time</th>
                      <th>Notes/Journal</th>
                  </tr>
              </ng-template>
              <ng-template pTemplate="body" let-executedWorkout>
                  <tr class="workout-history">
                      <td><a [routerLink]="['/workouts/view/', executedWorkout.id]">{{executedWorkout.name}}</a></td>
                      <td>{{executedWorkout.startDateTime | date:'M/d/yyyy, h:mm a'}}</td>
                      <td>{{executedWorkout.endDateTime | date:'M/d/yyyy, h:mm a'}}</td>
                      <td><span *ngIf="executedWorkout.journal" pTooltip="{{executedWorkout.journal}}">Notes</span></td>
                  </tr>
              </ng-template>
          </p-table>
      </div>
  </div>
  <div class="row" *ngIf="totalRecords != null">
      <div class="col-12" *ngIf="totalRecords > 0">{{totalRecords}} total workouts</div>
      <div class="col-12" *ngIf="totalRecords == 0" style="font-style: italic">No workouts have been executed yet.</div>
  </div>
  <div class="row col-md-12">
      <button routerLink="/workouts/select" [disabled]="loading" class="btn btn-primary"><i class="fa fa-plus"></i> Start a Workout</button>
  </div>
</div>