<div class="container-fluid form-group">
  <div *ngIf="loading" class="row">
      <div class="offset-md-5 col-md-1">
          <p-progressSpinner></p-progressSpinner>
      </div>
  </div>

  <ng-container *ngIf="!loading">
    <div class="row">
      <div class="col-12">
        <h3 class="headroom workout-view-title">Workout: {{executedWorkout.workout.name}}</h3>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        Started {{executedWorkout.startDateTime | date: 'short'}}, Completed {{executedWorkout.endDateTime | date: 'short'}}
      </div>
    </div>

    <wt-executed-exercises
      *ngFor="let exerciseGroup of groupedExercises | keyvalue" 
      [executedExercises]="exerciseGroup.value">
    </wt-executed-exercises>

    <div class="row headroom">
      <div class="col-12">
        Notes/Journal<br />
        {{executedWorkout.journal}}
      </div>
    </div>

  </ng-container>

</div>