@import '../../../variables.scss';

label {
  display: block;
  margin-top: 1em;
}

small {
  display: block;
}

tr.band-row {
  line-height: 10px;
}

td {
  padding: 8px !important;
}

.resistance-band {
  text-shadow: 1px 1px #000000;
}

h3 {
  padding: 6px;
  background-image: linear-gradient(to right, $admin-color-one, $admin-color-gradient-end);
  color: $header-text-color-one;
}

input {

  &#color {
    width: 8em;
  }

  &#maxResistanceAmount {
    width: 5em;
  }

  &#numberAvailable {
    width: 4em;
  }
  
}
