@use '../../../variables.scss' as v;

label {
  display: block;
  margin-top: 1em;
}

small {
  display: block;
}

.resistance-band {
  text-shadow: 1px 1px #000000;
}

h3 {
  padding: 6px;
  background-image: linear-gradient(to right, v.$admin-color-one, v.$admin-color-gradient-end);
  color: v.$header-text-color-one;
}

input {

  &#color {
    width: 8em;
  }

  &#maxResistanceAmount {
    width: 5em;
  }

  &#numberAvailable {
    width: 4em;
  }
  
}
