@if (busy()) {
  <span>{{busyMsg()}}</span>
} @else {
  <h3 class="pt-2">Resistance Band Inventory</h3>
}

@if (!busy()) {
  <div class="container-fluid">

    <nz-table #dt [nzData]="resistanceBands" dataKey="id" editMode="row">
      <thead>
        <!--TODO: Make these sortable-->
        <tr>
          <th>Color</th>
          <th>Max End-to-End Resistance</th>
          <th># Available</th>
          <th style="width:8rem"></th>
        </tr>
      </thead>
      <tbody>
        @for(resistanceBand of dt.data; track resistanceBand.id) {
          <tr>
            @if (!editCache[resistanceBand.id].edit) {
              <td><span class="resistance-band" [ngStyle]="{'color': resistanceBand.color}">{{resistanceBand.color}}</span>
              </td>
              <td>{{resistanceBand.maxResistanceAmount}}</td>
              <td>{{resistanceBand.numberAvailable}}</td>
              <td>
                <button nz-button nzShape="circle" (click)="startEdit(resistanceBand.id)">
                  <nz-icon nzType="edit" nzTheme="twotone" nzTwotoneColor="#52c41a" />
                </button>
                &nbsp;
                <button nz-button nzShape="circle" (click)="deleteBand(resistanceBand)">
                  <nz-icon nzType="delete" nzTheme="twotone" nzTwotoneColor="#eb2f96" />
                </button>
              </td>
            } @else {
              <td><input type="text" [(ngModel)]="editCache[resistanceBand.id].data.color" required></td>
              <td><input type="text" [(ngModel)]="editCache[resistanceBand.id].data.maxResistanceAmount" required></td>
              <td><input type="text" [(ngModel)]="editCache[resistanceBand.id].data.numberAvailable"></td>
              <td>
                <button nz-button nzShape="circle" (click)="saveEdit(resistanceBand.id)">
                  <nz-icon nzType="save" nzTheme="twotone" nzTwotoneColor="#52c41a" />
                </button>
                &nbsp;
                <button nz-button nzShape="circle" (click)="cancelEdit(resistanceBand.id)">
                  <nz-icon nzType="close-circle" nzTheme="twotone" nzTwotoneColor="#eb2f96" />
                </button>
              </td>
            }
          </tr>
        }
      </tbody>
    </nz-table>

    <button class="btn btn-primary" (click)="openAddModal()"><i class="fa fa-plus"></i> Add New</button>
  </div>
}

<nz-modal [(nzVisible)]="showAddDialog" nzTitle="Resistance Band Details" (nzOnCancel)="hideModal()" (nzOnOk)="saveNewBand()">
  <ng-container *nzModalContent>
    <div>
      <label for="color">Color</label>
      <input type="text" id="color" [(ngModel)]="newResistanceBand.color" required autofocus />
      @if (!newResistanceBand.color) {
        <small class="error-text">Color is required.</small>
      }
    </div>
    <div>
      <label for="maxResistanceAmount">Maximum End-to-End Resistance Amount *</label>
      <input type="number" id="maxResistanceAmount" [(ngModel)]="newResistanceBand.maxResistanceAmount" required />
      <small>*Resistance will be 2x when band is doubled over</small>
      @if (newResistanceBand.maxResistanceAmount <= 0) { 
        <small class="error-text">
          Max Resistance Amount is required.
        </small>
      }
    </div>
    <div>
      <label for="numberAvailable"># Available</label>
      <input type="number" id="numberAvailable" [(ngModel)]="newResistanceBand.numberAvailable" required />
      @if (newResistanceBand.numberAvailable <= 0) { 
        <small class="error-text">
          # Available is required.
        </small>
      }
    </div>
  </ng-container>
</nz-modal>