<div class="container-fluid form-group">
  <div *ngIf="loading" class="row">
      <div class="offset-md-5 col-md-1">
          <p-progressSpinner></p-progressSpinner>
      </div>
  </div>

  <ng-container *ngIf="!loading">
    <div class="row">
      <div class="col-12">
        <h3 class="headroom workout-view-title">Workout: {{executedWorkout.name}}</h3>
      </div>
    </div>

    <div class="row">
      <div *ngIf="executedWorkout.startDateTime != null" class="col-12">
        Started {{executedWorkout.startDateTime | date: 'EEEE, M/d/yyyy, h:mm a'}}, completed {{executedWorkout.endDateTime | date: 'EEEE, M/d/yyyy, h:mm a'}}
      </div>
      <div *ngIf="executedWorkout.startDateTime == null" class="col-12">
        This is a <strong>planned</strong> workout. Currently, planned workouts can't be edited, so to make changes, start the workout and edit the values as you go.
      </div>
    </div>

    <wt-executed-exercises
      *ngFor="let exerciseGroup of groupedExercises | keyvalue" 
      [executedExercises]="exerciseGroup.value"
      [showResults]="executedWorkout.startDateTime != null">
    </wt-executed-exercises>

    <div *ngIf="executedWorkout.startDateTime != null" class="row headroom">
      <div class="col-12">
        <strong>Notes/Journal</strong><br />
        {{executedWorkout.journal ?? 'None'}}
      </div>
    </div>

  </ng-container>

</div>