@import '../../../variables.scss';

table, th, td {
  border: 1px solid;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 6px;
  padding-right: 6px;
}

h3 {
  padding: 6px;
  background-image: linear-gradient(to right, $analytics-color-one, $analytics-color-gradient-end);
  //font-style: italic;
  color: $header-text-color-one;
}