@use '../../../variables.scss' as v;

table, th, td {
  border: 1px solid;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 6px;
  padding-right: 6px;
}

h3 {
  padding: 6px;
  background-image: linear-gradient(to right, v.$analytics-color-one, v.$analytics-color-gradient-end);
  //font-style: italic;
  color: v.$header-text-color-one;
}