@use '../../../variables.scss' as v;

.end-to-end-selection {
  padding-top: 38px;
}

.header {
  padding-top: 6px;
  padding-right: 6px;
  padding-bottom: 6px;
  padding-left: 14px;
  background-image: linear-gradient(to right, v.$exercise-color-three, v.$exercise-color-gradient-end);
  //font-style: italic;
  color: v.$header-text-color-one;
}

.btn-save-exercise {
  color: v.$button-text-color-one;
  background-color: v.$exercise-color-three;
}

.target-areas {
  max-height: 300px; 
  overflow-y: scroll;
  border-style: solid;
  border-width: 1px;
}

label {
  width: 100%;
}