@if (!editModeEnabled()) {
  <h3 class="headroom header">Exercise</h3>  
} @else if (!loading()) {
  <h3 class="headroom header">Exercise {{ isNew ? 'Creation' : 'Edit' }}</h3>
}

<div class="container-fluid">
  @if (loading()) {
    <div class="row">
      <div class="offset-md-5 col-md-1">
        <nz-spin nzSize="large"></nz-spin>
      </div>
    </div>
  } @else if(form()) {
    <form>
      <fieldset [disabled]="!editModeEnabled()">
        <div class="row bottom-padded">
          <div class="col-9">
            <input [control]="form.exercise.id" type="hidden" />

            <label class="center-block"
              [ngClass]="{'has-error': form.exercise.name().touched() && form.exercise.name().errors()}">
              Name
            </label>
            <input class="form-control" [control]="form.exercise.name" placeholder="Exercise Name (required)" />

            @if (form.exercise.name().touched() && form.exercise.name().errors()) {
              <span class="error-text">Required</span>
            }
            
            <br />

            <label class="center-block"
              [ngClass]="{'has-error': form.exercise.description().touched() && form.exercise.description().errors()}">
              Description
            </label>
            <textarea class="form-control" rows="6" [control]="form.exercise.description" placeholder="Exercise Description (required)"></textarea>
            @if (form.exercise.description().touched() && form.exercise.description().errors()) {
              <wt-validation-errors [errors]="form.exercise.description().errors()" />
            }

          </div>
          @if (form.allTargetAreas()) {
            <div class="col-3 target-areas">
              <strong>Target Areas</strong>
              @if (form.allTargetAreas().dirty() && form.allTargetAreas().errors()) {
                <span class="error-text">At least one Target Area is required</span>
              }

              @for (area of form.allTargetAreas; track area) {
                X
                <div [ngClass]="{'has-error': form.allTargetAreas().touched() && form.allTargetAreas().errors()}">
                  <input type="checkbox" [control]="area" [value]="area.id" /> {{area.name()}}
                </div>
              }

              @if (form.allTargetAreas().dirty() && form.allTargetAreas().errors()) {
                <span class="error-text">At least one Target Area is required</span>
              }

            </div>
          } @else {
            <div class="col-3">
              Loading Target Areas...
            </div>
          }
        </div>
      </fieldset>
    </form>
    <!--
    <form [formGroup]="exerciseForm" novalidate>
      <fieldset [disabled]="!editModeEnabled()">
        <div class="row bottom-padded">
  
          <div class="col-9">
            <input type="hidden" formControlName="id" />
  
            <label class="center-block"
              [ngClass]="{'has-error': exerciseForm.controls.name.touched && exerciseForm.controls.name.errors}">
              Name
            </label>
            <input class="form-control" formControlName="name" placeholder="Exercise Name (required)" />

            @if (exerciseForm.controls.name.touched && exerciseForm.controls.name.errors) {
              <span class="error-text">Required</span>
            }
            
            <br />
  
            <label class="center-block"
              [ngClass]="{'has-error': exerciseForm.controls.description.touched && exerciseForm.controls.description.errors}">
              Description
            </label>
            <textarea class="form-control" rows="6" formControlName="description"
              placeholder="Exercise Description (required)"></textarea>

            @if (exerciseForm.controls.description.touched) {
              @if (exerciseForm.controls.description.errors?.required) {
                <span class="error-text">Required</span>
              }

              @if (exerciseForm.controls.description.errors?.maxlength) {
                <span class="error-text">Max length exceeded</span>
              }
            }
          </div>
  
          @if (exerciseForm.controls.targetAreas) {
            <div class="col-3 target-areas" formGroupName="targetAreas">
              <strong>Target Areas</strong>

              @if (exerciseForm.controls.targetAreas.dirty && exerciseForm.controls.targetAreas.errors) {
                <br /><span class="error-text">At least one Target Area is required</span>
              }
    
              @for (area of exerciseForm.controls.targetAreas.value | keyvalue; track $index) {
                <div [ngClass]="{'has-error': exerciseForm.controls.targetAreas.touched && exerciseForm.controls.targetAreas.errors}">
                  <input type="checkbox" [formControlName]="area.key" [value]="area.value" /> {{area.key}}
                </div>
              }
    
              @if (exerciseForm.controls.targetAreas.dirty && exerciseForm.controls.targetAreas.errors) {
                <span class="error-text">At least one Target Area is required</span>
              }
            </div>
          }
  
        </div>
        <div class="row bottom-padded">
          <div class="col-3">
            @if (resistanceTypes) {
              <label class="center-block" for="resistanceType">
                Resistance Type
              </label>
              <select formControlName="resistanceType" id="resistanceType" class="form-select">
                @for (resistanceType of resistanceTypes | keyvalue; track $index) {
                  <option [value]="resistanceType.key">
                    {{resistanceType.value | insertSpaceBeforeCapital}}
                  </option>
                }
              </select>
            }
          </div>
          @if (exerciseForm.controls.resistanceType.value == resistanceTypeEnum.ResistanceBand) {
            <div class="col-3">
              <div class="pt-4">
                <input type="checkbox" formControlName="endToEnd" id="endToEnd">
                <label for="endToEnd">End to End</label> 
                <small style="margin-left: 12px;"
                  nz-tooltip nzTooltipTitle="''End to End'' specifies that the exercise is performed with one end of the band clipped to a ring, and the other hand clipped to a handle, as opposed to looped through an anchor."
                  nzTooltipPlacement="right">(What's this?)</small>
              </div>
            </div>
          }
        </div>
        <div class="row bottom-padded">
          <div class="col-3">
            <div>
              <input type="checkbox" formControlName="oneSided" id="oneSided">
              <label for="oneSided">One Sided</label> 
              <small style="margin-left: 12px;"
                nz-tooltip nzTooltipTitle="''One Sided'' specifies that the exercise is performed on one side. For example, Dumbbell Concentration Curls is an exercise where bicep curls are performed for one arm for a set, followed by a set for the other arm."
                nzTooltipPlacement="right">(What's this?)</small>
            </div>
          </div>
          <div class="col-3">
            <div>
              <input type="checkbox" formControlName="involvesReps" id="involvesReps">
              <label for="involvesReps">Involves Repetitions</label> <small
                style="margin-left: 12px;"
                nz-tooltip nzTooltipTitle="''Involves Repetitions'' specifies that the exercise is performed using repetitions. An exercise like Bench Press involves lifting a weight for a number of repetitions, whereas Jogging is an exercise which does not."
                nzTooltipPlacement="right">(What's this?)</small>
            </div>
          </div>
          <div class="col-3">
            <div>
              <input type="checkbox" formControlName="usesBilateralResistance" id="usesBilateralResistance">
              <label for="usesBilateralResistance">Uses bilateral resistance</label> 
              <small 
                style="margin-left: 12px;"
                nz-tooltip nzTooltipTitle="''Uses bilateral resistance'' means that the exercise requires the same amount of resistance on both sides. For example, doing dumbbell curls with two equally weighted dumbbells. This doesn't apply to exercises which use a single bar, like a bench press, but rather exercises with two weights or sources of resistance."
                nzTooltipPlacement="right">(What's this?)</small>
            </div>
          </div>
        </div>
        <div class="row col-12">
          <h3>Instructions</h3>
        </div>
        <div class="row bottom-padded">
          <div class="col-4">
            <label class="center-block"
              [ngClass]="{'has-error': exerciseForm.controls['setup'].touched && exerciseForm.controls['setup'].errors}">
              Setup
            </label>
            <textarea class="form-control" rows="12" formControlName="setup"
              placeholder="How to prepare for this exercise (required)"></textarea>
            @if (exerciseForm.controls.setup.touched) {
              @if (exerciseForm.controls.setup.errors?.required) {
                <span class="error-text">Required</span>
              }

              @if (exerciseForm.controls.setup.errors?.maxlength) {
                <span class="error-text">Max length exceeded</span>
              }
            }
          </div>
          <div class="col-4">
            <label class="center-block"
              [ngClass]="{'has-error': exerciseForm.controls.movement.touched && exerciseForm.controls.movement.errors}">
              Movement
            </label>
            <textarea class="form-control" rows="12" formControlName="movement"
              placeholder="How to perform the exercise (required)"></textarea>
            @if (exerciseForm.controls.movement.touched) {
              
              @if (exerciseForm.controls.movement.errors?.required) {
                <span class="error-text">Required</span>
              }

              @if (exerciseForm.controls.movement.errors?.maxlength) {
                <span class="error-text">Max length exceeded</span>
              }

            }
          </div>
          <div class="col-4">
            <label class="center-block"
              [ngClass]="{'has-error': exerciseForm.controls['pointsToRemember'].touched && exerciseForm.controls['pointsToRemember'].errors}">
              Points to Remember
            </label>
            <textarea class="form-control" rows="12" formControlName="pointsToRemember"
              placeholder="Points to remember (required)"></textarea>
            @if (exerciseForm.controls.pointsToRemember.touched) {
              @if (exerciseForm.controls.pointsToRemember.errors?.required) {
                <span class="error-text">Required</span>
              }

              @if (exerciseForm.controls.pointsToRemember.errors?.maxlength) {
                <span class="error-text">Max length exceeded</span>
              }
            }
          </div>
        </div>
      </fieldset>
    </form>
    -->
    <div class="row bottom-padded">
      <div class="col-2">
        <span class="mild-right-margin align-middle">Enable Editing</span>
        <nz-switch id="editModeToggle" [(ngModel)]="editModeEnabled" class="align-middle" />
      </div>       

      @if (editModeEnabled()) {
        <div class="col-10">
          <button type="submit" [disabled]="exerciseForm.invalid || saving()" (click)="saveExercise()"
            class="btn btn-save-exercise">Save</button>&nbsp;<span>{{infoMsg()}}</span>
            @if (exerciseForm.invalid) {
              <span class="error-text">Please enter all required information above to enable saving.</span>
            }
        </div>
      }
    </div>
    <div class="row">
      @if (errorMsg()) {
        <div class="col-4 error-text">
          {{errorMsg()}}
        </div>
      }
    </div>
  }
</div>