@import '../../../variables.scss';

.end-to-end-selection {
  padding-top: 38px;
}

.header {
  padding-top: 6px;
  padding-right: 6px;
  padding-bottom: 6px;
  padding-left: 14px;
  background-image: linear-gradient(to right, $exercise-color-three, $exercise-color-gradient-end);
  //font-style: italic;
  color: $header-text-color-one;
}

.btn-save-exercise {
  color: $button-text-color-one;
  background-color: $exercise-color-three;
}

.target-areas {
  max-height: 300px; 
  overflow-y: scroll;
  border-style: solid;
  border-width: 1px;
}