.exerciseName {
    font-weight: bold;
}

.setType {
    font-style: italic;
    padding: .375rem 0;
    border: 1px;
    margin: 4px;
}

.resistance-amount {
    width: 40%;
}

.reps {
    width: 50%
}

input {
    margin: 4px;
}