.exerciseName {
    font-weight: bold;
}

.setType {
    font-style: italic;
    padding: .375rem 0;
    border: 1px;
    margin: 4px;
}

.resistance-amount {
    width: 40%;
}

.reps {
    width: 54px;
}

.reps-div {
    font-size: smaller;
}

.exercise-info-cell {
    padding-top: 8px;
}

.exercise-dropdown-cell {
    padding-top: 4px;
}

input {
    margin: 4px;
}

