.exerciseName {
    font-weight: bold;
    resize: none;
}

.setType {
    font-style: italic;
    padding: .375rem 0;
    border: 1px;
    margin: 4px;
}

.resistance-amount {
    width: 25%;
}

.reps {
    width: 54px;
}

.reps-div {
    font-size: smaller;
}

.exercise-info-div {
    padding-top: 5px;
}

.exercise-input-div {
    padding-top: 4px;
}

.exercise-info-div > input {
    margin-top: -1px;
}

.exercise-info-span {
    display: inline-block;
    margin-top: 8px;
}

.exercise-dropdown-cell {
    padding-top: 4px;
}

input {
    margin: 8px;
    height: 3.5em;
}

select {
    margin: 4px;
    height: 3.5em;
}

.exercise-row {
    line-height: 4em !important;
}
