<div [formGroup]="formGroup" class="row">
    <div class="col-md-3">
        <input type="hidden" formControlName="exerciseId" />
        <input type="text" formControlName="exerciseName" [readonly]="true" class="form-control-plaintext exerciseName" required />
    </div>
    <div class="col-md-9" class="setType">
        {{formGroup?.controls?.setType?.value == 0 ? "Repetition" : "Timed"}} Set(s):
    </div>
</div>
<div [formGroup]="formGroup" class="row">
    <div class="col-md-12">
        <!--exerciseSets is the name of the FormArray on the FormGroup representing an Exercise which is passed in via an @Input()-->
        <div formArrayName="exerciseSets">
            <div class="row">
                <div class="col-1">
                    Set
                </div>
                <div class="col-4">
                    Resistance
                </div>
                <div class="col-1">
                    Duration
                </div>
                <div class="col-1 reps-div">
                    Target Reps
                </div>
                <div class="col-1 reps-div">
                    Actual Reps
                </div>
                <div class="col-2">
                    Form
                </div>
                <div class="col-2">
                    Range of Motion
                </div>
            </div>
            <div *ngFor="let exerciseSet of setsArray?.controls; let i = index" class="col-md-12" [formGroupName]="i">
                <div class="row" [ngStyle]="{'backgroundColor': (i % 2 === 0)?'#d3d3d3':'#ffffff'}">
                    <div class="col-1 exercise-info-cell">
                        {{i + 1}} <button class="btn btn-sm btn-success" *ngIf="formGroup?.controls?.setType?.value==1" (click)="showTimer(setsArray?.controls[i])">Start</button>
                    </div>
                    <div class="col-4 exercise-info-cell">
                        <input *ngIf="formGroup?.controls?.resistanceType?.value==1" type="text" class="form-control resistance-amount" formControlName="resistance" required />
                        <span *ngIf="formGroup?.controls?.resistanceType?.value==3">Body Weight</span>
                        <span *ngIf="formGroup?.controls?.resistanceType?.value==2">
                            <button class="btn btn-sm btn-primary mild-margins" (click)="selectResistanceBands(setsArray?.controls[i])">Set</button>                            
                            <span *ngIf="exerciseSet.controls.resistanceMakeup.value">{{exerciseSet.controls.resistanceMakeup.value}} (Max {{exerciseSet.controls.resistance.value}})</span>
                            <span *ngIf="!exerciseSet.controls.resistanceMakeup.value">Not set</span>
                        </span>
                    </div>
                    <div class="col-1">
                        <input *ngIf="formGroup?.controls?.resistanceType?.value==2" type="text" class="form-control" formControlName="duration" required />
                        <span *ngIf="formGroup?.controls?.resistanceType?.value!=2">N/A</span>
                    </div>
                    <div class="col-1">
                        <input type="text" class="form-control reps" formControlName="targetReps" required />
                    </div>
                    <div class="col-1">
                        <input type="text" class="form-control reps" formControlName="actualReps" required /> 
                    </div>
                    <div class="col-2 exercise-dropdown-cell">
                        <select class="form-control" formControlName="formRating" required> <!--TODO: Set up differenty, this is just for POC-->
                            <option value=0>N/A</option>
                            <option value=1>Bad</option>
                            <option value=2>Poor</option>
                            <option value=3>OK</option>
                            <option value=4>Good</option>
                            <option value=5>Excellent</option>
                        </select>
                    </div>
                    <div class="col-2 exercise-dropdown-cell">
                        <select class="form-control" formControlName="rangeOfMotionRating" required> <!--TODO: Set up differenty, this is just for POC-->
                            <option value=0>N/A</option>
                            <option value=1>Bad</option>
                            <option value=2>Poor</option>
                            <option value=3>OK</option>
                            <option value=4>Good</option>
                            <option value=5>Excellent</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>