<div class="container">
  <form [formGroup]="exerciseForm" novalidate>
    <div class="form-group">
      <input type="hidden" formControlName="id" />
      <label class="center-block">
        Name:
        <input class="form-control" formControlName="name" />
      </label>
      <label class="center-block">
        Description:
        <input class="form-control" formControlName="description" />
      </label>
      <div *ngFor="let targetArea in targetAreas" class="checkbox">
        <label class="center-block">
          <input type="checkbox" formControlName="sidekick">{{targetArea.name}}
        </label>
      </div>
    </div>
  </form>
</div>
Exercise form {{exerciseForm.value |json}}