<div class="container">
  <form [formGroup]="exerciseForm" novalidate>
    <div class="row">
      
      <div class="col-md-offset-2 col-md-4 form-group">
        <input type="hidden" formControlName="id" />
        
        <label class="center-block">Name:
          <input class="form-control" formControlName="name" placeholder="Exercise Name (required)" />
          <!--<span *ngIf="formErrors.name">REQUIRED</span>-->
        </label>

        <label class="center-block">Description:
          <input class="form-control" formControlName="description" placeholder="Exercise Description (required)" />
        </label>
        
      </div>
      
      <div class="col-md-4 form-group">
        <strong>Target Areas:</strong>
          <div *ngFor="let area of allTargetAreas.controls; let i=index">
            <input type="checkbox" [formControl]="area"/> {{targetAreas[i].name}}
          </div>      
        </div>
    </div>
  </form>
</div>
Exercise form {{exerciseForm.value |json}}
