<div class="container">
  <div class="row">
    <div class="col-12 ms-3 me-3">
      <p>
        <label for="hours">Hours</label><input wtSelectOnFocus [formField]="form.hours" id="hours" type="number">
        <label for="minutes">Minutes</label><input wtSelectOnFocus [formField]="form.minutes" id="minutes"
          type="number">
        <label for="seconds">Seconds</label><input wtSelectOnFocus [formField]="form.seconds" id="seconds"
          type="number">
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-12 mb-2">
      <p>
        <button class="btn btn-danger pull-right" (click)="cancel()">Cancel</button>
        <button class="btn btn-success pull-right" (click)="ok()" [disabled]="form().invalid()">OK</button>
      </p>
    </div>
  </div>
</div>
