<div *ngIf="loading" class="row">
  <div class="offset-md-5 col-md-1">
      <p-progressSpinner></p-progressSpinner>
  </div>
</div>

<ng-container *ngIf="workoutPlan">
  <div class="container-fluid form-group">
    <h2 class="headroom">Plan Your Workout</h2>
    <div class="row"></div>
    <form [formGroup]="workoutPlanForm" novalidate>
      <fieldset [disabled]="isProcessing">
        <div class="row">
          <div class="col-12">
              <input type="hidden" formControlName="workoutId" />
              <h3>{{workoutPlanForm.controls['workoutName'].value}}</h3>
          </div>
        </div>

        <div *ngIf="!workoutPlan.hasBeenExecutedBefore" class="row">
          <div class="col-12">
            <h4 class="no-last-time">This workout hasn't been done before, so no "Last Time" information is shown.</h4>
          </div>
        </div>

        <wt-exercise-plan 
          *ngFor="let exercise of exercisesArray.controls; let i=index"
          [formGroup]="exercise"
          [workoutHasBeenExecutedBefore]="workoutPlan.hasBeenExecutedBefore"
          (resistanceBandsModalRequested)="resistanceBandsModalEnabled($event)">
        </wt-exercise-plan>
        
        <div class="row">
          <div class="col-12">
            <button *ngIf="!planningForLater" type="submit" class="btn btn-primary" (click)="startWorkout()" [disabled]="workoutPlanForm.invalid || isProcessing">Start Workout</button>
            <button *ngIf="planningForLater" type="submit" class="btn btn-primary" (click)="submitPlanForLater()" [disabled]="workoutPlanForm.invalid || isProcessing">Save Workout Plan</button>
            &nbsp;<span *ngIf="isProcessing">Processing...</span>
          </div>
        </div>
      </fieldset>
    </form>

    <p-dialog header="Select Resistance Bands" [(visible)]="showResistanceBandsSelectModal">
      <wt-resistance-band-select
        [resistanceBandInventory]="allResistanceBands"
        (okClicked)="resistanceBandsModalAccepted($event)"
        (cancelClicked)="resistanceBandsModalCancelled()">
      </wt-resistance-band-select>
    </p-dialog>
  </div>
</ng-container>

