<div *ngIf="workoutPlan == null" class="text-center">
  <p-progressSpinner></p-progressSpinner>
</div>

<ng-container *ngIf="workoutPlan">
  <div class="container-fluid form-group">
    <div class="row"></div>
    <form [formGroup]="workoutPlanForm" novalidate>
      <div class="row">
        <div class="col-12">
            <input type="hidden" formControlName="workoutId" />
            <h3 class="headroom">{{workoutPlanForm.controls['workoutName'].value}}</h3>
        </div>
      </div>

      <div class="table table-striped">
        <div *ngFor="let exercise of exercisesArray.controls; let i = index" class="row" [formGroup]="exercise">
          <div class="col-12">

            <div class="row">
              <div class="col-12"><h5>{{exercise.controls['exerciseName'].value}}</h5></div>
            </div>

            <div class="row">
              <div class="col-12">
                <strong>Last Time</strong>
              </div>
            </div>

            <div class="row">
              <div class="col-2 form-group">
                Target Rep Count:<br />{{exercise.controls['targetRepCountLastTime'].value}}
              </div>
              <div class="col-2 form-group">
                Max Actual Rep Count:<br />{{exercise.controls['maxActualRepCountLastTime'].value}}
              </div>
              <div class="col-4 form-group">
                Resistance:<br />{{exercise.controls['resistanceAmountLastTime'].value}} 
                <span *ngIf="exercise.controls['resistanceMakeupLastTime'].value">
                  ({{exercise.controls['resistanceMakeupLastTime'].value}})
                </span>
              </div>
            </div>

            <div class="row">
              <div class="col-12">
                <strong>This Time</strong>
              </div>
            </div>

            <div class="row">
              <div class="col-2 form-group">
                <label>Target Rep Count</label>
                <input type="text" class="form-control reps" formControlName="targetRepCount" required />
              </div>
            </div>

          </div>
        </div>
      </div>
      
      <!--
      <table class="table table-striped">
        <th>Exercise</th>
        <th># of Sets</th>
        <th>Set Type</th>
        <th>Target Rep Count Last Time</th>
        <th>Max Actual Rep Count Last Time</th>
        <th>Recommended Target Rep Count</th>
        <th>Target Rep Count</th>
        <th>Resistance Amount Last Time</th>
        <th>Resistance Makeup Last Time</th>
        <th>Recommended Resistance Amount</th>
        <th>Recommended Resistance Makeup</th>
        <th>Resistance Amount</th>
        <th>Resistance Makeup</th>
        <th>Recommendation Reason</th>
      </table>
      -->
      <div class="row">
        <div class="col-12">
          <button type="submit" class="btn btn-primary">Start Workout</button>
        </div>
      </div>
    </form>
  </div>
</ng-container>

