<div *ngIf="workoutPlan == null" class="text-center">
  <p-progressSpinner></p-progressSpinner>
</div>

<ng-container *ngIf="workoutPlan">
  <div class="container-fluid form-group">
    <h2 class="headroom">Plan Your Workout</h2>
    <div class="row"></div>
    <form [formGroup]="workoutPlanForm" novalidate>
      <div class="row">
        <div class="col-12">
            <input type="hidden" formControlName="workoutId" />
            <h3>{{workoutPlanForm.controls['workoutName'].value}}</h3>
        </div>
      </div>

      <wt-exercise-plan 
        *ngFor="let exercise of exercisesArray.controls; let i=index"
        [formGroup]="exercise">
      </wt-exercise-plan>
      
      <!--
      <table class="table table-striped">
        <th>Exercise</th>
        <th># of Sets</th>
        <th>Set Type</th>
        <th>Target Rep Count Last Time</th>
        <th>Max Actual Rep Count Last Time</th>
        <th>Recommended Target Rep Count</th>
        <th>Target Rep Count</th>
        <th>Resistance Amount Last Time</th>
        <th>Resistance Makeup Last Time</th>
        <th>Recommended Resistance Amount</th>
        <th>Recommended Resistance Makeup</th>
        <th>Resistance Amount</th>
        <th>Resistance Makeup</th>
        <th>Recommendation Reason</th>
      </table>
      -->
      <div class="row">
        <div class="col-12">
          <button type="submit" class="btn btn-primary">Start Workout</button>
        </div>
      </div>
    </form>
  </div>
</ng-container>

