.no-last-time {
  color:red;
}

.submit-row {
  padding-top: 10px;
  padding-bottom: 10px;
  border-top-style: solid;
  border-top-width: 2px;
  border-top-color: green;
}

h3 {
  padding: 6px;
  background-image: linear-gradient(to right, green, lightgrey);
  font-style: italic;
  color: white;
}

h4 {
  color: darkgreen;
}