.no-last-time {
  color:red;
}

.submit-row {
  padding-top: 10px;
  padding-bottom: 10px;
}

h3 {
  padding: 6px;
  background-image: linear-gradient(to right, green, lightgrey);
  font-style: italic;
  color: white;
}

h4 {
  color: darkgreen;
}