<!--Angular's @defer has made this unnecessary :)-->
<!--
@if (loading) {
  <div class="row widget">
    <div class="col-12">
      <p-progressSpinner></p-progressSpinner>
    </div>
  </div>
}
-->
<!--@if (!loading && userOverview) {-->
@if (userOverview()) {
  <div class="row widget">
    <div class="col-12">
      <h5>Welcome, {{userOverview()!.username}}</h5> <!--Compiler somehow isn't taking into account if statement below for existance of value-->
      <div class="row">
        <div class="col-12">
          @if (userOverview()!.lastWorkoutDateTime == null) {
            <span>You haven't worked out yet.</span>
          } @else {
            <span>Your last workout was on {{userOverview()!.lastWorkoutDateTime | date: 'EEEE, M/d/yyyy'}}.</span>
          }
        </div>
        <div class="col-12">
          You have {{userOverview()!.plannedWorkoutCount}} planned {{userOverview()!.plannedWorkoutCount == 1 ? 'workout' : 'workouts'}}.
        </div>
      </div>
    </div>
  </div>  
}
