@import '../../../variables.scss';

.last-time-container {
  margin-left: -12px;
  margin-right: -12px;
  height: 100%; 
  padding-left: 0; 
  padding-right: 0;  

  //border-left-style: solid;
  border-right-style: solid;
  border-top-style: solid;
  border-bottom-style: solid;
  border-color: $workout-color-four;

}

.last-time {
  /*background-color: lightgrey;*/
  //background-image: url('../../../assets/images/blue-steel.png');
  padding-bottom: 8px;
  padding-left: 4px;
}

.half-area {
  flex: 1;
}