<div class="d-flex flex-column last-time-container">

  <div class="last-time pt-2 bottom-padded">
    <div>
      <span class="section-title micro-widget-opaque">Last Time</span>
    </div>
  </div>

  <div class="d-flex pt-2 px-2">
    <div class="half-area">
      <strong>Resistance Amount</strong>
    </div>
    <div class="half-area">
      <span>{{formGroup.controls.resistanceType.value==3 ? 'Body Weight' :
        formGroup.controls.resistanceAmountLastTime.value |
        resistanceAmount:formGroup.controls.resistanceType.value==2}}</span>
      @if (formGroup.controls.resistanceMakeupLastTime.value) {
        <span>
          (<span [innerHTML]="formGroup.controls.resistanceMakeupLastTime.value | resistanceBandColor"></span>)
        </span>
      }
    </div>
  </div>

  <div class="d-flex pt-2 bottom-padded px-2">
    <div class="half-area">
      <strong>Target Rep Count</strong>
    </div>
    <div class="half-area">
      @if (formGroup.controls.involvesReps.value) {
        <span>{{formGroup.controls.targetRepCountLastTime.value}}</span>
      } @else {
        <span>N/A</span>
      }
    </div>
  </div>

  <div class="d-flex bottom-padded px-2">
    <div class="half-area">
      <strong>Avg Actual Rep Count</strong>
    </div>
    <div class="half-area">
      @if (formGroup.controls.involvesReps.value) {
        <span>{{formGroup.controls.avgActualRepCountLastTime.value}}</span>
      } @else {
        <span>N/A</span>
      }
    </div>
  </div>

  <div class="d-flex bottom-padded px-2">
    <div class="half-area">
      <strong>Avg Range of Motion</strong>
    </div>

    <div class="half-area">
      <span>{{formGroup.controls.avgRangeOfMotionLastTime.value | rating}}</span>
    </div>
  </div>

  <div class="d-flex little-footroom px-2">
    <div class="half-area">
      <strong>Avg Form</strong>
    </div>
    <div class="half-area">
      <span>{{formGroup.controls.avgFormLastTime.value | rating}}</span>
    </div>
  </div>

</div>