
<div class="container-fluid">
  <br />
  <div class="row">
    <div class="col-12 text-center">
      <h3 class="greeting">System</h3>
    </div>
  </div>
  <div class="row pt-3">
    <div class="col-4"> <!--LEFT COLUMN-->
      <button class="btn btn-primary btn-fullWidth" (click)="testSoundService()">Test SoundService</button>
    </div>
    <div class="col-4"> <!--CENTER COLUMN-->
      <button class="btn btn-info btn-fullWidth" (click)="testToast()">Test Toast</button>
    </div>
    <div class="col-4"> <!--RIGHT COLUMN-->
      <button class="btn btn-danger btn-fullWidth">TBD</button>
    </div>
  </div>
  <div class="row pt-3">
    <div class="col-4">
      Spinner: <nz-spin nzSize="large"></nz-spin>
    </div>
    <div class="col-4">
      <h3>Fonts</h3>
      <p>Regular</p>
      <p><i>Italic</i></p>
      <p><b>Bold</b></p>
      <p><strong>Strong</strong></p>
    </div>
  </div>
</div>