
<div class="container-fluid">
  <br />
  <div class="row col-12 text-center">
    <h3 class="greeting">System</h3>
  </div>
  <div class="row pt-3">
    <div class="col-4"> <!--LEFT COLUMN-->
      <button class="btn btn-primary btn-fullWidth" (click)="testSoundService()">Test SoundService</button>
    </div>
    <div class="col-4"> <!--CENTER COLUMN-->
      <button class="btn btn-info btn-fullWidth" (click)="testToast()">Test Toast</button>
    </div>
    <div class="col-4"> <!--RIGHT COLUMN-->
      <button class="btn btn-danger btn-fullWidth">TBD</button>
    </div>
  </div>
</div>
<p-toast position="center"></p-toast>
