<div class="row widget">
  <div class="col-12">
    <h5>Quick Actions</h5>
    <div class="row">
      <div class="col-12 w-100 text-center">
        <button class="btn w-100 button-headroom plan-workout" routerLink='/workouts/select-for-later'>Plan a Workout for Later</button>
      </div>
    </div>
    <div class="row">
      <div class="col-12 w-100 text-center">
        <button class="btn w-100 button-headroom view-workout-history" routerLink='/workouts/history'>View Workout History</button>
      </div>
    </div>
    <div class="row">
      <div class="col-12 w-100 text-center">
        <button class="btn w-100 button-headroom manage-workouts" routerLink='/workouts/workouts'>Manage Workouts</button>
      </div>
    </div>
    <div class="row">
      <div class="col-12 w-100 text-center">
        <button class="btn w-100 button-headroom manage-exercises" routerLink='/exercises'>Manage Exercises</button>
      </div>
    </div>  
  </div>
</div>
