@import '../../../../variables.scss';

h5 {
  color: $header-text-color-one;
}

.button-headroom {
  margin-top: 6px;
}

.start-workout {
  color: white;
  background-color: $workout-color-one;
  opacity: 1;
}

.start-planned-workout {
  color: white;
  background-color: $workout-color-three;
}