@use '../../../../variables.scss' as v;

h5 {
  color: v.$header-text-color-one;
}

.button-headroom {
  margin-top: 6px;
}

.start-workout {
  color: white;
  background-color: v.$workout-color-one;
  opacity: 1;
}

.start-planned-workout {
  color: white;
  background-color: v.$workout-color-three;
}