<div class="row widget">
  <div class="col-12">
    <h5>Workout</h5>
    <div class="row">
      <div class="col-12 w-100 text-center">
        <button class="btn start-workout w-100" routerLink='/workouts/select'>Start a new Workout</button>
      </div>
    </div>
    <div class="row">
      <div class="col-12 w-100 text-center">
        <button class="btn w-100 button-headroom start-planned-workout" routerLink='/workouts/select-planned'>Start a Pre-Planned Workout</button>
      </div>
    </div>
  </div>
</div>
