<ng-container *ngIf="executedExercises && executedExercises.length > 0">

  <div class="row headroom">
    <div class="col-12">
      <h5>{{executedExercises[0].exercise.name}}</h5>
    </div>
  </div>

  <div class="row">
    <div class="col-12 setType">
      <strong>{{executedExercises[0].setType == 0 ? "Repetition" : "Timed"}} Set(s) using <em>{{executedExercises[0].exercise.resistanceType | resistanceType:false}}</em> resistance:</strong>
    </div>
  </div>

  <div class="row">
    <div class="col-1">
        Set
    </div>
    <div class="col-4">
        Resistance
    </div>
    <div class="col-1">
        Duration
    </div>
    <div class="col-1 reps-div">
        Target Reps
    </div>
    <div *ngIf="showResults" class="col-1 reps-div">
        Actual Reps
    </div>
    <div *ngIf="showResults" class="col-2">
        Form
    </div>
    <div *ngIf="showResults" class="col-2">
        Range of Motion
    </div>
  </div>

  <div class="row" *ngFor="let exercise of executedExercises; let i = index" [ngStyle]="{'backgroundColor': (i % 2 === 0)?'#e9ecef':'#ffffff'}">
  
    <div class="col-1 exercise-info-div">
      {{i + 1}}
    </div>
  
    <div class="col-4 exercise-info-div">
        <!--TODO: Create a pipe for this-->
      <span *ngIf="exercise.exercise.resistanceType < 2"><strong>{{exercise.resistanceAmount}}</strong></span>
      <span *ngIf="exercise.exercise.resistanceType == 3"><strong>Body Weight</strong></span>
      <span *ngIf="exercise.exercise.resistanceType == 2" [innerHTML]="exercise.resistanceMakeup | resistanceBandColor"></span>
      <span *ngIf="exercise.exercise.resistanceType == 4"><strong>Other - {{exercise.resistanceAmount}}</strong></span>
    </div>

    <div class="col-1">
        <span *ngIf="exercise.setType == 0">N/A</span>
        <span *ngIf="exercise.setType == 1">{{exercise.duration | duration}}</span>
    </div>

    <div class="col-1">
        <span *ngIf="exercise.exercise.involvesReps">{{exercise.targetRepCount}}</span>
        <span *ngIf="!exercise.exercise.involvesReps">N/A</span>
    </div>
    <div *ngIf="showResults" class="col-1">
      <span *ngIf="exercise.exercise.involvesReps">{{exercise.actualRepCount}}</span>
      <span *ngIf="!exercise.exercise.involvesReps">N/A</span>
    </div>

    <div *ngIf="showResults" class="col-2">
        {{exercise.formRating | rating}}
    </div>

    <div *ngIf="showResults" class="col-2">
        {{exercise.rangeOfMotionRating | rating}}
    </div>
    
  </div>
  <hr>
</ng-container>