@if (executedExercises() && executedExercises()!.length > 0) {
  <div class="row headroom">
    <div class="col-12">
      <h5>{{executedExercises()![0].name}}</h5> <!--Compiler somehow isn't taking into account if statement below for existance of value-->
    </div>
  </div>

  <div class="row">
    <div class="col-12 setType">
      <strong>{{executedExercises()![0].setType == 0 ? "Repetition" : "Timed"}} Set(s) using
        <em>{{executedExercises()![0].resistanceType | resistanceType:false}}</em> resistance:</strong>
    </div>
  </div>

  <div class="row">
    <div class="col-1">
      Set
    </div>
    <div class="col-4">
      Resistance
    </div>
    <div class="col-1">
      Duration
    </div>
    <div class="col-1 reps-div">
      Target Reps
    </div>
    @if (showResults()) {
      <div class="col-1 reps-div">
        Actual Reps
      </div>
      <div class="col-2">
        Form
      </div>
      <div class="col-2">
        Range of Motion
      </div>
    }
  </div>

  @for (exercise of executedExercises(); track exercise.id; let i = $index) {
    <div class="row" [ngStyle]="{'backgroundColor': (i % 2 === 0)?'#e9ecef':'#ffffff'}">

      <div class="col-1 exercise-info-div">
        {{i + 1}} {{exercise.side | exerciseSide}}
      </div>

      <div class="col-4 exercise-info-div">
        @switch (exercise.resistanceType) {
          @case(2) {
            @if (exercise.resistanceMakeup != null) {
              <span>
                <span [innerHTML]="exercise.resistanceMakeup | resistanceBandColor"></span>
                <span> ({{exercise.resistanceAmount | resistanceAmount}} Max)</span>
              </span>
            }
          }
          @case(3) {
            <span><strong>Body Weight</strong></span>
          }          
          @case(4) {
            <span>
              <strong>Other - {{exercise.resistanceAmount | resistanceAmount}}</strong>
            </span>
          }
          @default {
            <span><strong>{{exercise.resistanceAmount | resistanceAmount}}</strong></span>
          }          
        }
      </div>

      <div class="col-1">
        @if (exercise.setType == 0) {
          <span>N/A</span>
        } @else {
          @if (exercise.duration != null) {
            <span>{{exercise.duration | duration: true}}</span>
          }
        }
      </div>

      <div class="col-1">
        @if (exercise.involvesReps) {
          <span>{{exercise.targetRepCount}}</span>
        } @else {
          <span>N/A</span>
        }
      </div>

      @if (showResults()) {
        <div class="col-1">
          @if (exercise.involvesReps) {
            <span>{{exercise.actualRepCount}}</span>
          } @else {
            <span>N/A</span>
          }
        </div>
  
        <div class="col-2">
          {{exercise.formRating | rating}}
        </div>
  
        <div class="col-2">
          {{exercise.rangeOfMotionRating | rating}}
        </div>
      }

    </div>
  }
  <hr>
}