<div class="container-fluid">

  <div *ngIf="validatingResetCode" class="row">
    <div class="offset-5 col-1">
      <p-progressSpinner></p-progressSpinner>
    </div>
  </div>

  <div *ngIf="resetCodeInvalid" class="row headroom">
    <div class="col-12">
      <p>
        The provided reset code is invalid. Please check the code and try again.
      </p>
      <a routerLink="/home">Return home</a>
    </div>
  </div>

  <div *ngIf="!validatingResetCode && !resetCodeInvalid" class="row headroom">
    <div class="offset-4 col-4">
      <strong>
        Please enter your new password below.
      </strong>
      <form [formGroup]="resetPasswordForm" novalidate>

        <div class="form-group">
          <label class="center-block headroom">
            Password:
            <input type="password" class="form-control" formControlName="password" placeholder="New Password (required)" />
          </label>
          <span class="text-danger headroom" *ngIf="resetPasswordForm.controls.password.touched && resetPasswordForm.controls.password.errors?.required"> Required.</span>
          <span class="text-danger headroom" *ngIf="resetPasswordForm.controls.password.touched && resetPasswordForm.controls.password.errors?.minlength"> Must be at least 7 characters.</span>
        </div>
        
        <div class="form-group">
          <label class="center-block headroom">
            Confirm Password:
            <input type="password" class="form-control" formControlName="confirmPassword" placeholder="Confirm (required)" />
          </label>
          <span class="text-danger headroom" *ngIf="resetPasswordForm.controls.confirmPassword.touched && resetPasswordForm.controls.confirmPassword.errors?.required"> Required.</span>
          <span class="text-danger headroom" *ngIf="resetPasswordForm.controls.confirmPassword.touched && resetPasswordForm.controls.confirmPassword.errors?.minlength"> Must be at least 7 characters.</span>
          <span class="text-danger headroom" *ngIf="resetPasswordForm.controls.confirmPassword.touched && resetPasswordForm.errors?.passwordsMatch"> Passwords must match.</span>
        </div>

        <div class="headroom">
          <button type="submit" [disabled]="resetPasswordForm.invalid || resettingPassword" (click)="resetPassword()" class="btn btn-success">Reset Password</button>
          <span *ngIf="resettingPassword"> Resetting password...</span>
        </div>

      </form>
    </div>
  </div>
  
</div>

