<div class="container-fluid form-group">
  <div *ngIf="loading" class="row">
      <div class="offset-md-5 col-md-1">
          <p-progressSpinner></p-progressSpinner>
      </div>
  </div>

  <form *ngIf="workoutForm && !loading" [formGroup]="workoutForm" novalidate>
    <h3 class="headroom">Workout</h3>
    
    <div class="row">
      <div class="col-md-12 form-group">
        <label>Select a Workout</label>&nbsp;
        <select formControlName="workoutDefinitions" id="workoutDefinitions" (change)="workoutSelected($event)">
          <option value="" selected disabled>Choose a Workout</option>
          <option *ngFor="let workout of workouts; let i = index" [value]="workouts[i].id">
            {{workouts[i].name}}
          </option>          
        </select>
      </div>
    </div>

    <ng-container *ngIf="workout != null">
      <button class="btn btn-primary" (click)="startWorkout()" [disabled]="workoutStarted">Start Workout</button>
      <span *ngIf="workoutStarted" class="mild-margins">Workout started at {{workout.startDateTime | date: 'shortTime'}}</span>
      <wt-workout-exercise 
        *ngFor="let exercise of exercisesArray.controls; let i = index" 
        [formGroup]="exercise" 
        (resistanceBandsSelect)="resistanceBandsModalEnabled($event)"
        (showTimerRequest)="showTimer($event)">
      </wt-workout-exercise>

      <div class="row form-group">
        <div class="col-md-12">
          <label for="journal">Notes</label>
          <textarea id="journal" class="form-control" formControlName="journal"></textarea>
        </div>
      </div>

      <button type="submit" class="btn btn-primary" [disabled]="!workoutForm.valid">Complete Workout</button>
    </ng-container>
    
  </form>

  <p-dialog header="Select Resistance Bands" [(visible)]="showResistanceBandsSelectModal">
    <wt-resistance-band-select 
      [resistanceBandInventory]="allResistanceBands"
      (okClicked)="resistanceBandsModalAccepted($event)"
      (cancelClicked)="resistanceBandsModalCancelled()">
    </wt-resistance-band-select>
  </p-dialog>

  <p-dialog header="Timed Set Countdown" [(visible)]="showCountdownModal">
    <wt-countdown-timer
      [secondsToCountdown]="240"
      [secondsLeadInTime]="10">
    </wt-countdown-timer>
  </p-dialog>
</div>