<div class="container-fluid form-group">
  <div *ngIf="loading" class="row">
      <div class="offset-md-5 col-md-1">
          <p-progressSpinner></p-progressSpinner>
      </div>
  </div>

  <form *ngIf="workoutForm && !loading" [formGroup]="workoutForm" novalidate>
    <h3 class="headroom">Workout</h3>
    
    <div class="row">
      <div class="col-md-12 form-group">
        <label>Select a Workout</label>&nbsp;
        <select formControlName="workoutDefinitions" id="workoutDefinitions" (change)="workoutSelected($event)">
          <option *ngFor="let workout of workouts; let i = index" [value]="workouts[i].id">
            {{workouts[i].name}}
          </option>          
        </select>
      </div>
    </div>

    <ng-container *ngIf="workout != null">
      <wt-workout-exercise 
        *ngFor="let exercise of exercisesArray.controls; let i = index" 
        [formGroup]="exercise">
      </wt-workout-exercise>
    </ng-container>

  </form>
</div>