<div class="row next-time section-header">
  <div class="col-12 little-headroom">
    <span class="section-title micro-widget">{{planningAhead ? 'Next' : 'This'}} Time</span>
  </div>
</div>
<div class="row little-headroom">
  <div class="col-6 form-group">
    <strong>Target Rep Count</strong>
  </div>
  <div class="col-6 form-group">
    <input wtSelectOnFocus *ngIf="formGroup.controls.involvesReps.value" type="number" class="amount"
      formControlName="targetRepCount" required />
    <span *ngIf="!formGroup.controls.involvesReps.value" class="pre-pop-value">N/A</span>
  </div>
</div>
<div class="row little-footroom">
  <div class="col-6 form-group">
    <strong>Resistance Amount</strong>
  </div>
  <div class="col-6 form-group">
    <!--TODO: Get these *ngIfs to work with the enum type instead-->
    <input wtSelectOnFocus
      *ngIf="formGroup.controls.resistanceType.value!=2 && formGroup.controls.resistanceType.value!=3" type="number"
      class="amount trail-space" formControlName="resistanceAmount" required />
    <span *ngIf="formGroup.controls.resistanceType.value==2" class="no-input-value">
      <ng-container *ngIf="formGroup.controls.resistanceAmount.value">
        {{formGroup.controls.resistanceAmount.value}}
        <span class="trail-space">(<span
            [innerHTML]="formGroup.controls.resistanceMakeup.value | resistanceBandColor"></span>)</span>
      </ng-container>
      <button class="btn btn-choose-resistance btn-sm margin-right trail-space"
        (click)="selectResistanceBands(formGroup)">Choose Resistance</button>
    </span>
    <span *ngIf="formGroup.controls.resistanceType.value==3" class="no-input-value">
      Body Weight
    </span>
  </div>

  <div *ngIf="workoutHasBeenExecutedBefore && formGroup.controls.resistanceType.value!=3" class="row little-footroom">
    <div class="col-12 d-flex justify-content-center">
      <button 
        class="btn btn-same-as-last-time btn-sm" (click)="useSameResistanceAsLastTime()">Use Same Resistance as Last
        Time
      </button>
    </div>
  </div>

</div>