@import '/src/variables.scss';

.next-time {
  background-color:white;
}

.section-header {
  background-image: url('../../../assets/images/blue-steel.png');
  padding-bottom: 8px;
}

.btn-choose-resistance {
  color: white;
  background-color: $workout-color-two;
}

.btn-same-as-last-time {
  color: white;
  background-color: $workout-color-three;
}

.end-padding {
  padding-bottom: 10px;
}

.amount {
  width: 40px;
  margin-left: 4px;
}

.no-input-value {
  font-weight: normal;
}

/* Suppress numeric input arrows/spinners as explained at https://www.w3schools.com/howto/howto_css_hide_arrow_number.asp */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
/* End numeric input arrows/spinners suppression */
