<div class="container">
  <div class="row">
    @if (!loadingUserInfo) {
    <div class="pt-3 offset-4 col-4">
      <h3>Edit User</h3>
      <form [formGroup]="userEditForm" novalidate>
        <div class="form-group">
          <input type="hidden" formControlName="id" />

          <label class="center-block pt-3">
            Name:
            <input class="form-control" formControlName="name" placeholder="User Name (required)" />
          </label>
          @if (userEditForm.controls.name.touched && userEditForm.controls.name.errors?.required) {
          <span class="text-danger pt-3">Required</span>
          }
        </div>

        <div class="form-group">
          <label class="center-block pt-3">
            Email Address:
            <input class="form-control" formControlName="emailAddress" placeholder="Email Address (required)" />
          </label>
          @if (userEditForm.controls.emailAddress.touched && userEditForm.controls.emailAddress.errors?.required) {
          <span class="text-danger pt-3">Required.</span>
          }
          @if (userEditForm.controls.emailAddress.touched && userEditForm.controls.emailAddress.errors?.email) {
          <span class="text-danger pt-3">Must be a valid email address.</span>
          }
        </div>

        <div class="form-group">
          <label class="center-block pt-3">
            Role:
            <select class="form-control" formControlName="role" placeholder="User Role (required)">
              <option value="0" selected disabled>Choose a User Role</option>
              <option value="1">Standard</option>
              <option value="2">Administrator</option>
            </select>
          </label>
          @if (userEditForm.controls.role.touched && userEditForm.controls.role.errors?.required) {
          <span class="text-danger pt-3">Required</span>
          }
        </div>

        @if (showPasswordResetButton) {
        <div class="pt-3">
          <button type="button" [disabled]="userEditForm.dirty" class="btn btn-primary" (click)="resetPassword()">Reset
            Password</button>
          @if (userEditForm.dirty) {
          <span><br /><small>This button is disabled if unsaved changes have been made.
              Please save any changes if you want to reset this user's password.</small></span>
          }
        </div>
        }

        <div class="pt-3">
          <button type="submit" [disabled]="userEditForm.invalid" (click)="saveUser()"
            class="btn btn-success">Save</button>
          &nbsp;
          <button type="button" [disabled]="savingUserInfo || loadingUserInfo" (click)="cancel()"
            class="btn btn-warning">Cancel</button>
          @if (savingUserInfo) {
          <span>Saving...</span>
          }
          @if (errorMsg) {
          <span class="error-text">{{errorMsg}}</span>
          }

        </div>
      </form>
      <div class="pt-3">
        <a routerLink="/admin/users">Users List</a>
      </div>
    </div>
    }
  </div>
</div>