/* You can add global styles to this file, and also import other style files */
@import 'cerulean.css';

body {
    padding-top: 70px;
}

.gimmeSomeSpace {
    padding: 6px;
}

.centeredText {
    text-align: center;
}

.btn.btn-fullWidth {
    width: 100%;
}

.errorText {
    color: red;
    font-style: italic;
}

.ui-multiselect-panel {
    background-color: white;
}
