/* You can add global styles to this file, and also import other style files */

@import 'fonts.css'; 

/*
body {
    padding-top: 70px;
}
*/

body {
    font-family: "Pangolin", Arial, Helvetica, sans-serif;
}

.gimmeSomeSpace {
    padding: 6px;
}

.centeredText {
    text-align: center;
}

.btn.btn-fullWidth {
    width: 100%;
}

.welcome-text {
    color: white;
}

.errorText {
    color: red;
    font-style: italic;
}

.ui-multiselect-panel {
    background-color: white;
}

.ng-trigger {
    z-index: 10000 !important;
}

.wallpaper {
    height: 100vh;
    width: 100vw;
    position: relative;
    /*top: 50px;*/
    background-image: url('./assets/images/fitness-background.jpg'); 
    background-size: cover;
    background-position-y: -90px;
}

.wallpaper-friendly {
    position: fixed;
    top: 100px;
}

.headroom {
    padding-top: 14px;
}

.mild-margins {
    margin-left: 6px;
    margin-right: 6px;
}