$title-color: greenyellow;
$header-text-color-primary: white;
$button-text-color-primary: white;

$workout-color-primary: blue;
$workout-color-secondary: royalblue;
$workout-color-tertiary: darkblue;
$workout-color-quaternary: darkslateblue;
$workout-color-quinary: midnightblue;
$workout-color-gradient-end: grey;

$history-color-primary: green;
$history-color-gradient-end: yellowgreen;

$exercise-color-primary: red;
$exercise-color-secondary: crimson;
$exercise-color-tertiary: firebrick;
$exercise-color-gradient-end: darkred;

$analytics-color-primary: grey;
$analytics-color-secondary: slategrey;
$analytics-color-gradient-end: darkblue;

$admin-color-primary: purple;
$admin-color-gradient-end: lightgrey;