<div class="container-fluid">

  @if (validatingResetCode) {
    <div class="row">
      <div class="offset-5 col-1">
        <nz-spin />
      </div>
    </div>
  } @else if (resetCodeInvalid) {
    <div class="row headroom">
      <div class="col-12">
        <p>
          The provided reset code is invalid. Please check the code and try again.
        </p>
        <a routerLink="/home">Return home</a>
      </div>
    </div>
  } @else {
    <div class="row headroom">
      <div class="offset-4 col-4">
        <strong>
          Please enter your new password below.
        </strong>
        <form [formGroup]="resetPasswordForm" novalidate>
  
          <div class="form-group">
            <label class="center-block headroom">
              Password:
              <input type="password" class="form-control" formControlName="password" placeholder="New Password (required)" />
            </label>
            @if (resetPasswordForm.controls.password.touched) {
              @if (resetPasswordForm.controls.password.errors?.required) {
                <span class="text-danger headroom"> Required.</span>
              }

              @if (resetPasswordForm.controls.password.errors?.minlength) {
                <span class="text-danger headroom"> Must be at least 7 characters.</span>
              }
            }
          </div>
          
          <div class="form-group">
            <label class="center-block headroom">
              Confirm Password:
              <input type="password" class="form-control" formControlName="confirmPassword" placeholder="Confirm (required)" />
            </label>
            @if (resetPasswordForm.controls.confirmPassword.touched) {
              @if (resetPasswordForm.controls.confirmPassword.errors?.required) {
                <span class="text-danger headroom"> Required.</span>
              }

              @if (resetPasswordForm.controls.confirmPassword.errors?.minlength) {
                <span class="text-danger headroom"> Must be at least 7 characters.</span>
              }

              @if (resetPasswordForm.errors?.passwordsMatch) {
                <span class="text-danger headroom"> Passwords must match.</span>
              }
            }
          </div>
  
          <div class="headroom">
            <button type="submit" [disabled]="resetPasswordForm.invalid || resettingPassword" (click)="resetPassword()" class="btn btn-success">Reset Password</button>
            @if (resettingPassword) {
              <span> Resetting password...</span>
            }
          </div>
  
        </form>
      </div>
    </div>
  }
  
</div>

