<h5 class="micro-widget-opaque">Recent Workouts</h5>
<div class="row">
  <div class="col-12">
    <nz-table #dt styleClass="p-datatable-striped" [nzData]="recentWorkouts" [nzLoading]="loading()">
      <thead>
        <tr>
          <th>Workout Name</th>
          <th>View</th>
          <th>Action</th>
          <th>Date/Time</th>
        </tr>
      </thead>
      <tbody>
        @for(executedWorkout of dt.data; track executedWorkout.id) {
          <tr>
            <td>{{executedWorkout.name}}</td>
            <td><button class="btn-sm btn-info" (click)="viewExercises(executedWorkout.workoutPublicId)" (keydown.enter)="viewExercises(executedWorkout.workoutPublicId)">View Exercises</button></td>
            @if (planningForLater()) {
              <td><button class="btn-sm btn-info" (click)="planWorkout(executedWorkout.workoutPublicId)" (keydown.enter)="planWorkout(executedWorkout.workoutPublicId)">Plan This Workout</button></td>
            } @else {
              <td><button class="btn-sm btn-info" (click)="doWorkout(executedWorkout.workoutPublicId)" (keydown.enter)="doWorkout(executedWorkout.workoutPublicId)">Do This Workout</button></td>
            }
            <td>{{executedWorkout.startDateTime | date:'EEE, M/d/yyyy, h:mm a'}}</td>
          </tr>
        }
      </tbody>              
    </nz-table>
  </div>
</div>

<nz-modal [(nzVisible)]="showExercises" nzTitle="Workout Info" [nzFooter]="null" nzClosable="true" (nzOnCancel)="showExercises.set(false)">
  <ng-container *nzModalContent>
    <wt-workout-info [workout]="selectedWorkout()!"></wt-workout-info>  
  </ng-container>
</nz-modal>
