<h5 class="micro-widget-opaque">Recent Workouts</h5>
<div class="row">
  <div class="col-12">
    <nz-table #dt styleClass="p-datatable-striped" [nzData]="recentWorkouts" [nzLoading]="loading">
      <thead>
        <tr>
          <th>Workout Name</th>
          <th>View</th>
          <th>Action</th>
          <th>Date/Time</th>
        </tr>
      </thead>
      <tbody>
        @for(executedWorkout of dt.data; track executedWorkout.id) {
          <tr>
            <td>{{executedWorkout.name}}</td>
            <td><a type="button" class="button-type-link" (click)="viewExercises(executedWorkout.workoutPublicId)">View Exercises</a></td>
            @if (planningForLater()) {
              <td><a type="button" class="button-type-link" (click)="planWorkout(executedWorkout.workoutPublicId)">Plan This Workout</a></td>
            } @else {
              <td><a type="button" class="button-type-link" (click)="doWorkout(executedWorkout.workoutPublicId)">Do This Workout</a></td>
            }
            <td>{{executedWorkout.startDateTime | date:'EEE, M/d/yyyy, h:mm a'}}</td>
          </tr>
        }
      </tbody>              
    </nz-table>
  </div>
</div>

<!--
<p-dialog header="Workout Info" [(visible)]="showExercises">
  <wt-workout-info [workout]="selectedWorkout"></wt-workout-info>
</p-dialog>
-->
<ng-template #workoutInfo>
  <wt-workout-info [workout]="selectedWorkout"></wt-workout-info>  
</ng-template>
