<h3 class="headroom">Workouts</h3>
<div class="container-fluid">
  <div class="row">
    <div class="col-4">
      Filter by Name &nbsp;<input pInputText type="text" [(ngModel)]="_nameFilter" />
    </div>
    <div class="col-4">
      Active Workouts Only &nbsp;<input type="checkbox" checked [(ngModel)]="_filterByActiveOnly" />
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <nz-table #dt
      [nzData]="workouts" 
      [nzFrontPagination]="false"
      [nzShowSizeChanger]="true"
      [nzTotal]="totalRecords"
      [nzPageSize]="10"
      [nzLoading]="loading"
      (nzQueryParams)="onQueryParamsChange($event)"
      >
        <thead>
          <tr>
            <!--NG-ZORRO only tracks selected filted options, so unchecking the "ACTIVE ONLY" filter resulted in NG-ZORRO thinking NO fitlers were being applied-->
            <!--
            <th nzCustomFilter>
              Name
              <nz-filter-trigger [(nzVisible)]="workoutNameFilterVisible" [nzActive]="_filterByNameContains != null && _filterByNameContains.length > 0" [nzDropdownMenu]="menu">
                <nz-icon nzType="search" />
              </nz-filter-trigger>              
            </th>
            <th>Target Areas</th>
            <th nzColumnKey="active" [nzFilters]="filterStatus">Status</th>
            -->
            <th>Name</th>
            <th>Target Areas</th>
            <th>Status</th>
          </tr>
        </thead>
        <tbody>
          @for (workout of dt.data; track workout.id) {
            <tr>
              <td>
                <a [routerLink]="['/workouts/view/', workout.id]">{{workout.name}}</a>
                <a [routerLink]="['/workouts/edit/', workout.id]" style="padding-left:10px">
                  <i class="fa fa-pencil"></i>
                </a>
              </td>
              <td [style]="{'overflow': 'visible'}">{{workout.targetAreas}}</td>
              <td>
                {{workout.active ? 'Active' : 'Retired'}}
                &nbsp;
                @if (workout.active) {
                  <button 
                    class="btn btn-danger"
                    (click)="retireWorkout(workout.id, workout.name)">
                    Retire
                  </button>
                } @else {
                  <button 
                    class="btn btn-success"
                    (click)="reactivateWorkout(workout.id, workout.name)">
                    Reactivate
                  </button>
                }
              </td>
            </tr>
          }
        </tbody>
      </nz-table>
      <!--
      <p-table #dt styleClass="p-datatable-striped" [value]="workouts" [paginator]="true" [columns]="cols"
        [rows]="pageSize" [lazy]="true" (onLazyLoad)="getWorkoutsLazy($event)" [totalRecords]="totalRecords"
        [loading]="loading">
        <ng-template pTemplate="header" let-columns>
          <tr>
            <th>Name</th>
            <th>Target Areas</th>
            <th>Status</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-workout>
          <tr>
            <td>
              <a [routerLink]="['/workouts/view/', workout.id]">{{workout.name}}</a>
              <a [routerLink]="['/workouts/edit/', workout.id]" style="padding-left:10px"><i
                  class="fa fa-pencil"></i></a>
            </td>
            <td [style]="{'overflow': 'visible'}">{{workout.targetAreas}}</td>
            <td>
              {{workout.active ? 'Active' : 'Retired'}}
              &nbsp;
              @if (workout.active) {
                <button 
                  class="btn btn-danger"
                  (click)="retireWorkout(workout.id, workout.name)">
                  Retire
                </button>
              } @else {
                <button 
                  class="btn btn-success"
                  (click)="reactivateWorkout(workout.id, workout.name)">
                  Reactivate
                </button>
              }
            </td>
          </tr>
        </ng-template>
      </p-table>
      -->
    </div>
  </div>
  @if (totalRecords != null) {
    <div class="row">
      <div class="col-3">{{totalRecords}} total workout(s)</div>
      @if (totalRecords == 0) {
        <div class="col-9" style="font-style: italic">
          No workouts have been defined. Please create one using the "Add New" button below.
        </div>
      }
    </div>
  }
  <div class="row bottom-padded">
    <div class="col-12">
      <button routerLink="/workouts/new" [disabled]="loading" class="btn btn-new-workout"><i class="fa fa-plus"></i>
        Add
        New
      </button>
    </div>
  </div>
</div>

<!--
<nz-dropdown-menu #menu="nzDropdownMenu">
  <div class="ant-table-filter-dropdown">
    <div class="search-box">
      <input type="text" nz-input placeholder="Workout Name" [(ngModel)]="_filterByNameContains" />
      <button nz-button nzSize="small" nzType="primary" (click)="search()" class="search-button">Search</button>
      <button nz-button nzSize="small" (click)="reset()">Reset</button>
    </div>
  </div>
</nz-dropdown-menu>
-->