@use '../../../variables.scss' as v;

.no-last-time {
  color:red;
}

.submit-row {
  padding-top: 10px;
  padding-bottom: 10px;
  border-top-style: solid;
  border-top-width: 2px;
  border-top-color: v.$workout-color-five;
}

h3 {
  padding: 6px;
  background-image: linear-gradient(to right, v.$workout-color-three, v.$workout-color-gradient-end);
  //font-style: italic;
  color: v.$header-text-color-one;
}

h4 {
  color: v.$workout-color-one;
  margin-bottom: 0;
}