@import '/src/variables.scss';

.no-last-time {
  color:red;
}

.submit-row {
  padding-top: 10px;
  padding-bottom: 10px;
  border-top-style: solid;
  border-top-width: 2px;
  border-top-color: $workout-color-five;
}

h3 {
  padding: 6px;
  background-image: linear-gradient(to right, $workout-color-three, $workout-color-gradient-end);
  font-style: italic;
  color: $header-text-color-one;
}

h4 {
  color: $workout-color-one;
}