<div class="container-fluid form-group">
    <div *ngIf="loading" class="row">
        <div class="offset-md-5 col-md-1">
            <p-progressSpinner></p-progressSpinner>
        </div>
    </div>
    <form *ngIf="exerciseForm && !loading" [formGroup]="exerciseForm" novalidate>
        <h3>Exercise {{ exercise ? 'Edit' : 'Creation' }}</h3>
        <div class="row">

            <div class="col-md-8 form-group">
                <input type="hidden" formControlName="id" />

                <label class="center-block" [ngClass]="{'has-error': exerciseForm.controls['name'].touched && exerciseForm.controls['name'].errors}">
                    Name
                </label>
                <input class="form-control" formControlName="name" placeholder="Exercise Name (required)" />
                <span *ngIf="exerciseForm.controls['name'].touched && exerciseForm.controls['name']?.errors" class="errorText">Required</span>
                
                <br/>

                <label class="center-block" [ngClass]="{'has-error': exerciseForm.controls['description'].touched && exerciseForm.controls['description'].errors}">
                    Description
                </label>                    
                <textarea class="form-control" rows="6" formControlName="description" placeholder="Exercise Description (required)"></textarea>
                <span *ngIf="exerciseForm.controls['description'].touched && exerciseForm.controls['description']?.errors?.required" class="errorText">Required</span>
                <span *ngIf="exerciseForm.controls['description'].touched && exerciseForm.controls['description']?.errors?.maxlength" class="errorText">Max length exceeded</span>
            </div>

            <div *ngIf="exerciseForm.get('targetAreas')" class="col-md-4 form-group" formGroupName="targetAreas">
                <strong>Target Areas</strong>

                <div *ngFor="let area of exerciseForm.get('targetAreas').value | keyvalue" [ngClass]="{'has-error': exerciseForm.controls['targetAreas'].touched && exerciseForm.controls['targetAreas'].errors}">
                    <input type="checkbox" [formControlName]="area.key" [value]="area.value" /> {{area.key}}
                </div>

                <span *ngIf="exerciseForm.controls['targetAreas'].dirty && exerciseForm.controls['targetAreas']?.errors" class="errorText">At least one Target Area is required</span>
            </div>

        </div>
        <div class="row">
            <div class="col-md-3 form-group">
                <label class="center-block" for="resistanceTypes">
                    Resistance Type
                </label>
                <select *ngIf="resistanceTypes" formControlName="resistanceTypes" id="resistanceTypes" class="form-control">
                    <option *ngFor="let resistanceType of resistanceTypes | keyvalue" [value]="resistanceType.key">
                        {{resistanceType.value | insertSpaceBeforeCapital}}
                    </option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 form-group">
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" formControlName="oneSided" id="oneSided">
                    <label class="custom-control-label" for="oneSided">One Sided</label>
                </div>
            </div>
        </div>
        <div class="row col-md-12">
            <h3>Instructions</h3>
        </div>
        <div class="row">
            <div class="col-md-3 form-group">
                <label class="center-block" [ngClass]="{'has-error': exerciseForm.controls['setup'].touched && exerciseForm.controls['setup'].errors}">
                    Setup
                </label>
                <textarea class="form-control" rows="12" formControlName="setup" placeholder="How to prepare for this exercise (required)"></textarea>
                <span *ngIf="exerciseForm.controls['setup'].touched && exerciseForm.controls['setup']?.errors?.required" class="errorText">Required</span>
                <span *ngIf="exerciseForm.controls['setup'].touched && exerciseForm.controls['setup']?.errors?.maxlength" class="errorText">Max length exceeded</span>
            </div>
            <div class="col-md-3 form-group">
                <label class="center-block" [ngClass]="{'has-error': exerciseForm.controls['movement'].touched && exerciseForm.controls['movement'].errors}">
                    Movement
                </label>
                <textarea class="form-control" rows="12" formControlName="movement" placeholder="How to perform the exercise (required)"></textarea>
                <span *ngIf="exerciseForm.controls['movement'].touched && exerciseForm.controls['movement']?.errors?.required" class="errorText">Required</span>
                <span *ngIf="exerciseForm.controls['movement'].touched && exerciseForm.controls['movement']?.errors?.maxlength" class="errorText">Max length exceeded</span>
            </div>
            <div class="col-md-4 form-group">
                <label class="center-block" [ngClass]="{'has-error': exerciseForm.controls['pointsToRemember'].touched && exerciseForm.controls['pointsToRemember'].errors}">
                    Points to Remember
                </label>
                <textarea class="form-control" rows="12" formControlName="pointsToRemember" placeholder="Points to remember (required)"></textarea>
                <span *ngIf="exerciseForm.controls['pointsToRemember'].touched && exerciseForm.controls['pointsToRemember']?.errors?.required" class="errorText">Required</span>
                <span *ngIf="exerciseForm.controls['pointsToRemember'].touched && exerciseForm.controls['pointsToRemember']?.errors?.maxlength" class="errorText">Max length exceeded</span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <button type="submit" [disabled]="exerciseForm.invalid || _saving" (click)="saveExercise()" class="btn btn-success">Save</button>&nbsp;<span>{{infoMsg}}</span>
            </div>
        </div>
        <div *ngIf="_errorMsg" class="col-md-4 errorText">
            {{_errorMsg}}
        </div>
    </form>
</div>
