@import '/src/variables.scss';

h3 {
  padding: 6px;
  background-image: linear-gradient(to right, $analytics-color-secondary, $analytics-color-gradient-end);
  font-style: italic;
  color: $header-text-color-primary;
}

.chart {
  max-height: 300px;
}