server {
    listen ${PORT};

    location / {
        root /usr/share/nginx/html;
        index index.html;
        try_files $uri $uri/ /index.html;
    }

    location /api/ {
        proxy_pass ${API_HTTP};
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
    }
}
