<div class="container">
  <div class="row">
    <div class="headroom offset-4 col-8">
      <h3>Change Password for User {{userName}}</h3>
        <form [formGroup]="changePasswordForm" novalidate>
        <div class="form-group">
          <label class="center-block headroom">
            Current Password:
            <input type="password" class="form-control" formControlName="currentPassword" placeholder="Current Password (required)" />
          </label>
          <span class="text-danger headroom" *ngIf="changePasswordForm.controls.currentPassword.touched && changePasswordForm.controls.currentPassword.errors?.required"> Required.</span>
          <span class="text-danger headroom" *ngIf="changePasswordForm.controls.currentPassword.touched && changePasswordForm.controls.currentPassword.errors?.minlength"> Must be at least 7 characters.</span>
        </div>

        <div class="form-group">
          <label class="center-block headroom">
            Password:
            <input type="password" class="form-control" formControlName="password" placeholder="New Password (required)" />
          </label>
          <span class="text-danger headroom" *ngIf="changePasswordForm.controls.password.touched && changePasswordForm.controls.password.errors?.required"> Required.</span>
          <span class="text-danger headroom" *ngIf="changePasswordForm.controls.password.touched && changePasswordForm.controls.password.errors?.minlength"> Must be at least 7 characters.</span>
        </div>
        
        <div class="form-group">
          <label class="center-block headroom">
            Confirm Password:
            <input type="password" class="form-control" formControlName="confirmPassword" placeholder="Confirm (required)" />
          </label>
          <span class="text-danger headroom" *ngIf="changePasswordForm.controls.confirmPassword.touched && changePasswordForm.controls.confirmPassword.errors?.required"> Required.</span>
          <span class="text-danger headroom" *ngIf="changePasswordForm.controls.confirmPassword.touched && changePasswordForm.controls.confirmPassword.errors?.minlength"> Must be at least 7 characters.</span>
          <span class="text-danger headroom" *ngIf="changePasswordForm.controls.confirmPassword.touched && changePasswordForm.errors?.passwordsMatch"> Passwords must match.</span>
        </div>

        <div class="headroom">
          <button type="submit" [disabled]="changePasswordForm.invalid" (click)="changePassword()" class="btn btn-success">Change Password</button>
          &nbsp;
          <button type="button" [disabled]="changingPassword" (click)="cancel()" class="btn btn-warning">Cancel</button>
          <span *ngIf="changingPassword">Saving...</span> <span *ngIf="errorMsg" class="errorText">{{errorMsg}}</span>
        </div>

      </form>
    </div> 
  </div>  
</div>
