@if (showHeading()) {
  <h3 class="headroom">Select a Workout to {{planningForLater ? "Plan" : "Start"}}</h3>
}

<div class="container-fluid">
  @if (!loading && workouts.length) {
    <div class="row select-row">
      <div class="col-12">
        <label>Select a Workout</label>&nbsp;
        <p-dropdown id="workoutDefinitions" [options]="workouts" optionLabel="name" optionValue="id" (onChange)="workoutSelectChange($event)" placeholder="Choose a Workout">
        </p-dropdown>
      </div>
    </div>
  }

  @if (!loading && showRecent() && workouts.length == 0) {
    <div>
      <p>
        <br />You haven't defined any workouts yet. Please use the menu to create one.
      </p>
    </div>
  }

  @if (!loading && showRecent() && workouts.length) {
    <wt-recent-workouts [planningForLater]="planningForLater"></wt-recent-workouts>
  }
  
</div>

