@use '../../../variables.scss' as v;

h3 {
  padding: 6px;
  background-image: linear-gradient(to right, v.$workout-color-one, v.$workout-color-gradient-end);
  //font-style: italic;
  color: v.$header-text-color-one;
}
/*
select {
  height: 30px;
}
*/
.select-row {
  padding-bottom: 18px;
}