@use '../../../variables.scss' as v;

tr.workout-history {
  line-height: 30px;
}

h3 {
  padding: 6px;
  background-image: linear-gradient(to right, v.$history-color-one, v.$history-color-gradient-end);
  color: v.$header-text-color-one;
}

span {
  color: #007bff;
}

.btn-start-workout {
  color: v.$button-text-color-one;
  background-color: v.$workout-color-one;
}

.btn-log-past-workout {
  color: v.$button-text-color-one;
  background-color: v.$workout-color-three;
}

.search-box {
  padding: 8px;
}

.search-box input {
  width: 188px;
  margin-bottom: 8px;
  display: block;
}

.search-box button {
  width: 90px;
}

.search-button {
  margin-right: 8px;
}

.modal-content {
  padding: 16px;
}