@import '../../../variables.scss';

tr.workout-history {
  line-height: 10px;
}

h3 {
  padding: 6px;
  background-image: linear-gradient(to right, $history-color-one, $history-color-gradient-end);
  color: $header-text-color-one;
}

span {
  color: #007bff;
}

.btn-start-workout {
  color: $button-text-color-one;
  background-color: $workout-color-one;
}

.btn-log-past-workout {
  color: $button-text-color-one;
  background-color: $workout-color-three;
}