<h3 class="headroom">Workout History</h3>
<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <nz-table #dt
        [nzData]="executedWorkouts" 
        [nzFrontPagination]="false"
        [nzShowSizeChanger]="true"
        [nzTotal]="totalRecords"
        [nzPageSize]="10"
        [nzLoading]="loading"
        (nzQueryParams)="onQueryParamsChange($event)">
        <thead>
          <tr>
            <th nzCustomFilter>
              Workout Name
              <nz-filter-trigger [(nzVisible)]="workoutNameFilterVisible" [nzActive]="workoutNameFilter.length > 0" [nzDropdownMenu]="menu">
                <nz-icon nzType="search" />
              </nz-filter-trigger>              
            </th>
            <th>Start Date/Time</th>
            <th>End Date/Time</th>
            <th>Notes/Journal</th>
          </tr>
        </thead>
        <tbody>
          @for (executedWorkout of dt.data; track executedWorkout.id) {
            <tr class="workout-history">
              <td><a routerLink="/workouts/history/view/{{executedWorkout.id}}">{{executedWorkout.name}}</a></td>
              <td>{{executedWorkout.startDateTime | date:'EEE, M/d/yyyy, h:mm a'}}</td>
              <td>{{executedWorkout.endDateTime | date:'EEE, M/d/yyyy, h:mm a'}}</td>
              <td>
                @if (executedWorkout.journal) {
                  <span (click)="openNotesModal(executedWorkout.journal)" nz-tooltip nzTooltipTitle="{{executedWorkout.journal}}">
                    Notes
                  </span>
                }
              </td>
            </tr>
          }
        </tbody>
      </nz-table>
    </div>
  </div>
  @if (totalRecords != null) {
    <div class="row">
      @if (totalRecords > 0) {
        <div class="col-12">{{totalRecords}} total workouts</div>
      } @else {
        <div class="col-12" style="font-style: italic">No workouts have been executed yet.</div>
      }
    </div>
  }
  <div class="row">
    <div class="col-12 bottom-padded">
      <button routerLink="/workouts/select" [disabled]="loading" class="btn btn-start-workout me-2"><i
          class="fa fa-plus"></i> Start a Workout</button>
      <button routerLink="/workouts/log-past-start" class="btn btn-log-past-workout"><i class="fa fa-pencil"></i> Log a
        Past Workout</button>
    </div>
  </div>
</div>

<nz-modal [(nzVisible)]="showNotesModal" [style]="{width: '450px'}" nzTitle="Notes/Journal" nzClosable="true"
  (nzOnCancel)="closeNotesModal()" [nzFooter]="null"
  styleClass="p-fluid">
  <div *nzModalContent class="modal-content">
    {{notes}}
  </div>
  <div *nzModalFooter>
    <button (click)="closeNotesModal()"></button>
  </div>
</nz-modal>

<nz-dropdown-menu #menu="nzDropdownMenu">
  <div class="ant-table-filter-dropdown">
    <div class="search-box">
      <input type="text" nz-input placeholder="Workout Name" [(ngModel)]="workoutNameFilter" />
      <button nz-button nzSize="small" nzType="primary" (click)="search()" class="search-button">Search</button>
      <button nz-button nzSize="small" (click)="reset()">Reset</button>
    </div>
  </div>
</nz-dropdown-menu>