@if (workout() === undefined) {
  <nz-spin nzSize="large" />
}

@if (workout()) {
  <h5>{{workout()!.name}}</h5> <!--Compiler somehow isn't taking into account if statement below for existance of value-->
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Exercise</th>
        <th scope="col">Sets</th>
        <th scope="col">Resistance Type</th>
        <th scope="col">Target Areas</th>
      </tr>
    </thead>
    <tbody>
      @for (exercise of workout()!.exercises; track exercise.id) {
        <tr>
          <td>{{exercise.exercise?.name}}</td>
          <td>{{exercise.numberOfSets}}</td>
          <td>{{exercise.exercise?.resistanceType | resistanceType}}</td>
          <td>{{exercise.exercise?.exerciseTargetAreaLinks | targetAreas}}</td>
        </tr>
      }
    </tbody>
  </table>
}