<div class="row quick-actions">
  <div class="col-12">
    <h5>Quick Actions</h5>
    <div class="row">
      <div class="col-12">
        <button class="btn btn-fullWidth start-workout text-center" routerLink='/workouts/select'>Start a Workout</button>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <button class="btn btn-fullWidth button-headroom plan-workout" routerLink='/workouts/select-for-later'>Plan a Workout for Later</button>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <button class="btn btn-fullWidth button-headroom start-planned-workout" routerLink='/workouts/select-planned'>Start a Pre-Planned Workout</button>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <button class="btn btn-fullWidth button-headroom manage-workouts" routerLink='/workouts/workouts'>Manage Workouts</button>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <button class="btn btn-fullWidth button-headroom view-workout-history" routerLink='/workouts/history'>View Workout History</button>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <button class="btn btn-fullWidth button-headroom manage-exercises" routerLink='/exercises'>Manage Exercises</button>
      </div>
    </div>  
  </div>
</div>
