<div class="container starter-template ">

  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <h1>Workout Tracker</h1>
      <p class="lead">Manage and track your workouts!</p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4 col-md-offset-2">
      <button class="btn btn-success" routerLink='/exercises/edit'>Start a Workout</button>
    </div>
    <div class="col-md-4 col-md-offset-2">
      <button class="btn btn-primary" routerLink='/exercises/edit'>Define a Workout</button>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4 col-md-offset-2">
      <button class="btn btn-info" routerLink='/exercises/edit'>Create or Modify an Exercise</button>
    </div>
    <div class="col-md-4 col-md-offset-2">
      <button class="btn btn-warning" routerLink='/exercises/edit'>User Management</button>
    </div>
  </div>

</div>  
