<div class="container-fluid wallpaper">
  <br />
  <div class="row col-md-4 offset-md-4 text-center welcome-text">
    <h3 class="text-center mx-auto">Welcome to Workout Tracker</h3>
  </div>

  <div class="row col-md-4 offset-md-4 text-center gimmeSomeSpace">
    <button class="btn btn-success btn-fullWidth" routerLink='/workouts/start'>Start a Workout</button>
  </div>

  <div class="row col-md-4 offset-md-4 text-center gimmeSomeSpace">
    <button class="btn btn-primary btn-fullWidth" routerLink='/workouts'>Define a Workout</button>
  </div>

  <div class="row col-md-4 offset-md-4 text-center gimmeSomeSpace">
    <button class="btn btn-info btn-fullWidth" routerLink='/exercises'>Create or Modify an Exercise</button>
  </div>

  <div class="row col-md-4 offset-md-4 text-center gimmeSomeSpace">
    <button class="btn btn-warning btn-fullWidth" routerLink='/users'>User Management</button>
  </div>

  <div class="row col-md-4 offset-md-4 text-center gimmeSomeSpace">
    <button class="btn btn-secondary btn-fullWidth" (click)="logOff()">Log Off</button>
  </div>

</div>  
