<div class="container-fluid wallpaper">
  <br />
  <div class="row col-md-4 offset-md-4 text-center welcome-text">
    <h3 class="text-center mx-auto">Welcome to Workout Tracker</h3>
  </div>

  <div class="row col-md-4 offset-md-4 text-center p-1">
    <button class="btn btn-success btn-fullWidth" routerLink='/workouts/select'>Start a Workout</button>
  </div>

  <div class="row col-md-4 offset-md-4 text-center p-1">
    <button class="btn btn-primary btn-fullWidth" routerLink='/workouts/edit/0'>Define a Workout</button>
  </div>

  <div class="row col-md-4 offset-md-4 text-center p-1">
    <button class="btn btn-info btn-fullWidth" routerLink='/exercises'>Create or Modify an Exercise</button>
  </div>

  <div class="row col-md-4 offset-md-4 text-center p-1">
    <button class="btn btn-warning btn-fullWidth" routerLink='/admin'>Administrative Functions</button>
  </div>

  <div class="row col-md-4 offset-md-4 text-center p-1">
    <span class="more-info">
      ...or pick an option from the menu
    </span>
  </div>
  
</div>  
