@import '/src/variables.scss';

h3 {
  padding: 6px;
  background-image: linear-gradient(to right, $user-settings-color-primary, $user-settings-color-gradient-end);
  font-style: italic;
  color: $header-text-color-primary;
}

.row {
  padding: 4px;
}

.description {
  font-style: italic;
}

.btn-save-settings {
  color: $button-text-color-primary;
  background-color: $user-settings-color-secondary;
}

.btn-change-password {
  color: $button-text-color-primary;
  background-color: $user-settings-color-secondary;  
}