.ui-table table {
    width: 100%;
}

tr:nth-child(even) {
    background-color: lightgray;
}

th, td {
    padding: 5px;
}

h3 {
    padding: 6px;
    background-image: linear-gradient(to right, blue, lightblue);
    font-style: italic;
    color: white;
}