<div class="container">
    <h3>Exercises</h3>
    <div class="row">
        <div class="col-md-8">
            <p-table [value]="_exercises" [paginator]="true" [rows]="_pageSize" [lazy]="true" (onLazyLoad)="getExercisesLazy($event)" [totalRecords]="_totalRecords" [loading]="loading">
                <ng-template pTemplate="header">
                    <tr>
                        <th>Name</th>
                        <th>Description</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-exercise>
                    <tr>
                        <td><a [routerLink]="['/exercises/edit/', exercise.id]">{{exercise.name}}</a></td>
                        <td>{{exercise.description}}</td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
        <div class="col-md-4">
            <button routerLink="/exercises/edit/0" [disabled]="loading" class="btn btn-primary">Create New Exercise from Scratch</button>
        </div>
    </div>
    <div class="row" *ngIf="_totalRecords">
        <div class="col-md-4">{{_totalRecords}} total exercises</div>
    </div>
</div>
