<div class="flex-column card-widget last-time-container">

  <div class="d-flex last-time pt-2 px-2">
    <div>
      <span>LAST TIME</span>
    </div>
  </div>

  <div class="d-flex pt-2 px-2 border-bottom">
    <div class="half-area">
      Resistance Amount
    </div>
    <div class="half-area">
      <strong>
        <span>{{field().resistanceType().value()==3 ? 'Body Weight' : field().resistanceAmountLastTime().value() | resistanceAmount:field().resistanceType().value()==2}}</span>
        @if (field().resistanceMakeupLastTime().value()) {
          <br />(<span [innerHTML]="field().resistanceMakeupLastTime().value() | resistanceBandColor"></span>)
        }
      </strong>
    </div>
  </div>

  <div class="d-flex px-2 border-bottom">
    <div class="half-area">
      Target Rep Count
    </div>
    <div class="half-area">
      <strong>
        @if (field().involvesReps().value()) {
          <span>{{field().targetRepCountLastTime().value()}}</span>
        } @else {
          <span>N/A</span>
        }
      </strong>
    </div>
  </div>

  <div class="d-flex px-2 border-bottom">
    <div class="half-area">
      Avg Actual Rep Count
    </div>
    <div class="half-area">
      <strong>
        @if (field().involvesReps().value()) {
          <span>{{field().avgActualRepCountLastTime().value()}}</span>
        } @else {
          <span>N/A</span>
        }
      </strong>
    </div>
  </div>

  <div class="d-flex px-2 border-bottom">
    <div class="half-area">
      Avg Range of Motion
    </div>

    <div class="half-area">
      <strong>
        <span>{{field().avgRangeOfMotionLastTime().value() | rating}}</span>
      </strong>
    </div>
  </div>

  <div class="d-flex little-footroom px-2">
    <div class="half-area">
      Avg Form
    </div>
    <div class="half-area">
      <strong>
        <span>{{field().avgFormLastTime().value() | rating}}</span>
      </strong>
    </div>
  </div>

</div>
