.amount {
  width: 40px;
  margin-left: 4px;
}

.pre-pop-value {
  color: blue;
  font-weight: bold;
}

.exercise-header-row {
  color:blue;
}

.lead-space {
  margin-left: 14px;
}

label {
  font-weight: bold;
}

.no-input-value {
  font-weight: normal;
}