.amount {
  width: 40px;
  margin-left: 4px;
}

.pre-pop-value {
  color: darkgreen;
  font-weight: bold;
}

.exercise-header-row {
  color: white;
}

.exercise-name {
  background-image: linear-gradient(to right, black , green);
  padding-top: 10px;
}

.lead-space {
  margin-left: 14px;
}

label {
  font-weight: bold;
}

.no-input-value {
  font-weight: normal;
}

.last-time {
  background-color: lightgrey;
  font-style: italic;
}

.recommendations {
  background-color: lightgreen;
  padding-bottom: 10px;
}

.this-time {
  padding-top: 10px;  
  background-color:white;
}

.btn-choose-resistance {
  color: white;
  background-color: darkgreen;
}

.btn-same-as-last-time {
  color: white;
  background-color: darkgreen;
}

.btn-use-suggestions {
  color: black;
  background-color: orange;
}

.end-padding {
  padding-bottom: 10px;
}

/* Suppress numeric input arrows/spinners as explained at https://www.w3schools.com/howto/howto_css_hide_arrow_number.asp */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
/* End numeric input arrows/spinners suppression */
