<div class="row" *ngIf="formGroup" [formGroup]="formGroup">
  <div class="col-12">

    <div class="row exercise-name">
      <div class="col-12"><h5 class="exercise-header-row">{{formGroup.controls['exerciseName'].value}}</h5></div>
    </div>

    <!--LAST TIME-->
    <div *ngIf="workoutHasBeenExecutedBefore" class="row last-time">
      <div class="col-12">
        <strong>Last Time</strong>
      </div>
    </div>
    <div *ngIf="workoutHasBeenExecutedBefore" class="row last-time">
      <div class="col-2 form-group">
        Target Rep Count: <span class="pre-pop-value">{{formGroup.controls['targetRepCountLastTime'].value}}</span>
      </div>
      <div class="col-2 form-group">
        Avg Actual Rep Count: <span class="pre-pop-value">{{formGroup.controls['avgActualRepCountLastTime'].value}}</span>
      </div>
      <div class="col-2 form-group">
        Avg Range of Motion: <span class="pre-pop-value">{{formGroup.controls['avgRangeOfMotionLastTime'].value | rating}}</span>
      </div>
      <div class="col-2 form-group">
        Avg Form: <span class="pre-pop-value">{{formGroup.controls['avgFormLastTime'].value | rating}}</span>
      </div>
      <div class="col-4 form-group">
        Resistance: <span class="pre-pop-value">{{formGroup.controls['resistanceType'].value==3 ? 'Body Weight' : formGroup.controls['resistanceAmountLastTime'].value}}</span>
        <span *ngIf="formGroup.controls['resistanceMakeupLastTime'].value">
          ({{formGroup.controls['resistanceMakeupLastTime'].value}})
        </span>
      </div>
    </div>

    <!--RECOMMENDATIONS-->
    <div *ngIf="formGroup.controls['recommendationReason'].value" class="row">
      <div class="col-12">
        <strong>Recommendations</strong>
      </div>
    </div>
    <div *ngIf="formGroup.controls['recommendationReason'].value" class="row">
      <div class="col-4 form-group">
        Recommended Resistance Amount <span class="pre-pop-value">{{formGroup.controls['recommendedResistanceAmount'].value}}</span>
        <span *ngIf="formGroup.controls['recommendedResistanceMakeup'].value">
          ({{formGroup.controls['recommendedResistanceMakeup'].value}})
        </span>
      </div>
      <div class="col-4 form-group">
        Recommended Target Rep Count <span class="pre-pop-value">{{formGroup.controls['recommendedTargetRepCount'].value}}</span>
      </div>
      <div class="col-4 form-group">
        Recommendation Reason <span class="pre-pop-value">{{formGroup.controls['recommendationReason'].value}}</span>
      </div>
    </div>

    <!--THIS TIME-->
    <div *ngIf="workoutHasBeenExecutedBefore" class="row this-time">
      <div class="col-12">
        <strong>This Time</strong>
      </div>
    </div>
    <div class="row this-time">
      <div class="col-2 form-group">
        <label>
          Target Rep Count
          <input type="number" class="amount" formControlName="targetRepCount" required />
        </label>
      </div>
      <div class="col-10 form-group">
        <label>
          Resistance Amount
          <!--TODO: Get these *ngIfs to work with the enum type instead-->
          <input *ngIf="formGroup.controls['resistanceType'].value!=2 && formGroup.controls['resistanceType'].value!=3" type="number" class="amount" formControlName="resistanceAmount" required />
          <span *ngIf="formGroup.controls['resistanceType'].value==2" class="no-input-value">
            <ng-container *ngIf="formGroup.controls['resistanceAmount'].value">
              {{formGroup.controls['resistanceAmount'].value}}
              ({{formGroup.controls['resistanceMakeup'].value}})
            </ng-container>
            <button class="lead-space btn btn-primary btn-sm" (click)="selectResistanceBands(formGroup)">Choose Resistance</button>
          </span>
          <button *ngIf="workoutHasBeenExecutedBefore && formGroup.controls['resistanceType'].value!=3" class="lead-space btn btn-primary btn-sm" (click)="useSameResistanceAsLastTime()">Use Same Resistance as Last Time</button>
          <span *ngIf="formGroup.controls['resistanceType'].value==3" class="no-input-value">
            Body Weight
          </span>
        </label>
      </div>
    </div>

  </div>
</div>
