@import '/src/variables.scss';

label {
    padding-top: 18px;
}

tr.band-row {
    line-height: 10px; 
}

td {
    padding: 8px !important;
}

.resistance-band {
    text-shadow: 1px 1px #000000;
}

h3 {
  padding: 6px;
  background-image: linear-gradient(to right, $admin-color-one, $admin-color-gradient-end);
  font-style: italic;
  color: $header-text-color-one;
}

.p-button-success {
  background-color: $admin-color-one;
}