<div class="d-flex flex-column suggestions-container">

  <div class="suggestions">
    <div class="little-headroom">
      <span class="section-title micro-widget">Suggestions</span>
    </div>
  </div>

  <div class="d-flex little-headroom bottom-padded px-2">
    <div class="half-area">
      <strong>Resistance Amount</strong>
    </div>
    <div class="half-area">
      <span>{{formGroup.controls.resistanceType.value==3 ? 'Body Weight' : formGroup.controls.recommendedResistanceAmount.value}}</span>
      <span *ngIf="formGroup.controls.recommendedResistanceMakeup.value">
        (<span [innerHTML]="formGroup.controls.recommendedResistanceMakeup.value | resistanceBandColor"></span>)
      </span>
    </div>
  </div>

  <div class="d-flex bottom-padded px-2">
    <div class="half-area">
      <strong>Target Rep Count</strong>
    </div>
    <div class="half-area">
      <span *ngIf="formGroup.controls.involvesReps.value">{{formGroup.controls.recommendedTargetRepCount.value}}</span>
      <span *ngIf="!formGroup.controls.involvesReps.value">N/A</span>
    </div>
  </div>

  <div class="d-flex bottom-padded flex-grow-1 px-2">
    <div class="half-area">
      <strong>Reason(s)</strong> 
    </div>
    <div class="half-area">
      <span>{{formGroup.controls.recommendationReason.value}}</span>
    </div>
  </div>

  <div class="d-flex flex-grow-1 align-content-end px-2">
    <div class="flex-grow-1">
      <button class="lead-space btn btn-sm btn-use-suggestions btn-fullWidth" (click)="useSuggestions()">Use Suggestions</button>
    </div>
  </div>

</div>