@import '../../../variables.scss';

.suggestions-container {
  margin-left: -12px;
  margin-right: -12px;
  height: 100%; 
  padding-left: 0; 
  padding-right: 0;
  background-color: lightblue;
  flex: 0 0;
}

.suggestions {
  background-image: url('../../../assets/images/blue-steel.png');
  padding-bottom: 8px;
  padding-left: 4px;
}

.btn-use-suggestions {
  color: white;
  background-color: $workout-color-four
}

.half-area {
  //flex: 1 0 auto;
  flex: 1 0;
}

.inner-container {
  /*
  flex: 1; // Allow the inner container to expand vertically.
  display: flex;
  */
  flex-direction: row; /* Items inside the inner container will flex horizontally. */
  justify-content: flex-start;
  align-items: flex-start;
}