<nav class="navbar navbar-default navbar-fixed-top">
  <a class="navbar-brand" href="#">Workout Tracker</a>
  <ul class="nav navbar-nav">
    <li class="nav-item active">
      <a class="nav-link" routerLink="/home">Home <span class="sr-only">(current)</span></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/workouts">Workouts</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/exercises">Exercises</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/users">Users</a>
    </li>
  </ul>
  <ul class="nav navbar-nav pull-right">
    <li class="nav-item">
      <a class="nav-link" href="https://github.com/mylifeandcode"><i class="fa fa-github" aria-hidden="true"></i></a>
    </li>
  </ul>
</nav>