<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Workout Tracker</a>
  <button *ngIf="userIsLoggedIn" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainNavigation" aria-controls="mainNavigation" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div *ngIf="userIsLoggedIn" class="collapse navbar-collapse" id="mainNavigation">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/home">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/workouts">Workouts</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/exercises">Exercises</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/admin">Admin</a>
      </li>
    </ul>
  </div>
  <!--
  <ul class="nav navbar-nav pull-right">
    <li *ngIf="userName" class="nav-item">
      <a class="nav-link" routerLink="/home">Welcome {{userName}}!</a> 
    </li>
    <li class="nav-item">
      <a class="nav-link" href="https://github.com/mylifeandcode"><i class="fa fa-github" aria-hidden="true"></i></a>
    </li>
  </ul>
  -->  
</nav>
