<h5 class="micro-widget-opaque">Recent Workouts</h5>
<div class="row">
  <div class="col-12">
    <p-table #dt styleClass="p-datatable-striped" [value]="recentWorkouts" [loading]="loading">
        <ng-template pTemplate="body" let-executedWorkout>
            <tr class="workout-history">
                <td>{{executedWorkout.name}}</td>
                <td><a type="button" class="button-type-link" (click)="viewExercises(executedWorkout.workoutId)">View Exercises</a></td>
                <td *ngIf="!planningForLater"><a type="button" class="button-type-link" (click)="doWorkout(executedWorkout.workoutId)">Do This Workout</a></td>
                <td *ngIf="planningForLater"><a type="button" class="button-type-link" (click)="planWorkout(executedWorkout.workoutId)">Plan This Workout</a></td>
                <td>{{executedWorkout.startDateTime | date:'EEE, M/d/yyyy, h:mm a'}}</td>
            </tr>
        </ng-template>
    </p-table>
  </div>
</div>

<p-dialog header="Workout Info" [(visible)]="showExercises">
  <wt-workout-info [workout]="selectedWorkout"></wt-workout-info>
</p-dialog>
