.ant-spin-nested-loading>div>.ant-spin .ant-spin-text {
  font-size: 16px;
}

.ant-table-pagination {
  justify-content: center !important;
  font-size: 16px;
}

.ant-table {
  font-size: 16px;
}

.ant-message-notice-content {
  font-size: 16px;
  padding: 20px 30px;
  border-color: black;
  border-style: solid;
  border-width: 2px;
}

.ant-select-multiple {
  width: 300px;
}

.ant-select:not(.ant-select-customize-input) .ant-select-selector {
  border-radius: 8px;
}

.ant-modal {
  max-width: calc(100vw - 32px);
}

.ant-collapse-header-text {
  font-weight: 600;
  font-size: 16px;
}

body {
  color: rgba(0, 0, 0) !important;
}