/* You can add global styles to this file, and also import other style files */

@import 'fonts.scss';
@import 'variables.scss';

*, .p-dropdown-label.p-placeholder {
  font-family: $font-one, $font-two, $font-three, $font-four;
}

.p-inputtext {
  font-family: $font-one, $font-two, $font-three, $font-four !important; //Theme CSS is getting in the way
}

.btn.btn-fullWidth {
  width: 100%;
}

.welcome-text {
  color: white;
}

.error-text {
  color: red;
  font-style: italic;
}

input.ng-invalid.ng-touched, 
textarea.ng-invalid.ng-touched,
select.ng-invalid.ng-touched {
  border-color: $form-value-invalid-border-color;
  border-width: $form-value-invalid-border-width;
}

.ui-multiselect-panel {
  background-color: white;
}

.wallpaper {
  height: 100vh;
  width: 100vw;
  position: relative;
  background-image: url('./assets/images/fitness-background.jpg');
  background-size: cover;
  background-position-y: -90px;
}

.wallpaper-friendly {
  position: fixed;
  top: 100px;
}

.headroom {
  padding-top: 14px;
}

.little-footroom {
  padding-bottom: 8px;
}

.mild-margins {
  margin-left: 6px;
  margin-right: 6px;
}

.mild-right-margin {
  margin-right: 6px;
}

.bottom-padded {
  padding-bottom: 12px;
}

.widget {
  color: white;
  border-radius: 25px;
  background: rgba(0, 0, 0, 0.6);
  padding: 20px;
  margin-left: 5px;
  margin-right: 5px;
}

.small-widget {
  color: white;
  border-radius: 25px;
  background: rgba(0, 0, 0, 0.6);
  padding: 20px;
}

.micro-widget {
  color: white;
  border-radius: 25px;
  background: rgba(0, 0, 0, 0.6);
  padding: 4px;
  font-weight: normal !important;
}

.micro-widget-opaque {
  @extend .micro-widget;
  background: rgba(0, 0, 0, 1);
}

.section-title {
  font-weight: bolder;
  font-size: large;
}

.white-steel-background {
  background-image: url('./assets/images/white-steel.png');
}

.p-dropdown-items { //Fix for style broken by PrimeNG 17. Won't work at component level, needs to be in a higher stylesheet like this.
  padding-left: 0px !important;
}

//Here because of PrimeNG's layer addition :/
.exercise-header {
  justify-content: space-between;
  flex-direction: row-reverse;
}