
<div class="container-fluid">
  <h3 class="headroom">Password Reset</h3>
  <div class="row">

    <div *ngIf="!smtpEnabled" class="col-12">
      <p>This installation of WorkoutTracker is not configured to use an SMTP service to send emails.</p>
      <p>Please contact your administrator and ask them to reset your password.</p>
    </div>

    <div *ngIf="smtpEnabled && forgotPasswordForm" class="offset-4 col-4">
      <strong>
        Please enter your email address below and click the Submit button to receive an email with instructions on how to reset your password.
      </strong>
      <form [formGroup]="forgotPasswordForm" novalidate>

        <div class="form-group">
          <label for="emailAddress" class="center-block headroom">
            Email Address:
          </label>
          <input type="email" name="emailAddress" class="form-control" formControlName="emailAddress" placeholder="Email Address (required)" />
          <span class="text-danger headroom" *ngIf="forgotPasswordForm.controls.emailAddress.touched && forgotPasswordForm.controls.emailAddress.errors?.required"> Required.</span>
          <span class="text-danger headroom" *ngIf="forgotPasswordForm.controls.emailAddress.touched && forgotPasswordForm.controls.emailAddress.errors?.email"> Value must be a valid email address.</span>
        </div>

        <p class="headroom">
          <button [disabled]="forgotPasswordForm.invalid || requestInProgress" (click)="submitPasswordResetRequest()" class="btn btn-primary" type="button">Submit</button>
        </p>

        <div class="headroom">
          <span *ngIf="requestInProgress">Submitting...</span> 
          <span *ngIf="errorMessage" class="error-text">{{errorMessage}}</span>
          <span *ngIf="requestSuccessful">Request submitted! <button class="btn btn-primary btn-sm" routerLink="/">Back to Home</button> </span>
        </div>

       </form>
    </div>
  </div>
</div>
