<div *ngIf="loadingUsers" class="container-fluid row offset-md-4 col-md-4 centeredText">
  Loading users...
</div>

<div *ngIf="!loadingUsers" class="container-fluid wallpaper">
  <br />
  <div class="row offset-md-4 col-md-4">
    <h3 *ngIf="!gettingUserInfo" class="text-center mx-auto greeting-text">Who are you?</h3>
    <h3 *ngIf="gettingUserInfo" class="text-center mx-auto greeting-text">Welcome {{username}}...</h3> <!--TODO: Add spinner graphic-->
  </div>

  <div *ngIf="errorMsg">
    <h3>{{errorMsg}}</h3>
  </div>

  <ng-container *ngIf="!gettingUserInfo">

    <div class="row offset-md-4 col-md-4 card centeredText userSelect">
      <div class="list-group">
        <div *ngFor="let user of users" (click)="selectUser(user.id, user.name)" class="list-group-item list-group-item-action list-group-item-success userSelectPanel">
          {{user.name}}
        </div>
      </div>
    </div>

    <div *ngIf="users && users.length == 0" class="row offset-md-4 col-md-4 centeredText gimmeSomeSpace">
      No users have been created yet. Create one with the button below.
    </div>

    <div class="row offset-md-4 col-md-4 centeredText">

        <button type="button" class="btn btn-info btn-fullWidth headroom" routerLink='/users/first'>Add User</button>
    </div>

  </ng-container>

</div>
