<!--
If hosting in IIS, you'll need to install the URL Rewrite module and use this web.config 
to support deep-linking.

For more details, visit:
https://devblogs.microsoft.com/premier-developer/tips-for-running-an-angular-app-in-iis/
-->
<configuration>
<system.webServer>
  <rewrite>
    <rules>
     <rule name="Angular Routes" stopProcessing="true">
         <match url=".*" />
       <conditions logicalGrouping="MatchAll">
         <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
       </conditions>
       <action type="Rewrite" url="/" />
     </rule>
  </rules>
 </rewrite>
</system.webServer>
</configuration>