<div class="container-fluid welcome-wallpaper">
  <br />
  <div class="row">
    <div class="col-4">
      <h3 class="greeting">Welcome to Workout Tracker</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-6"> <!--LEFT COLUMN-->
      @defer(when !loading) {
        <wt-user-overview [userOverview]="userOverview"></wt-user-overview>
      } @placeholder {
        <div class="row widget">
          <div class="col-12">
            <nz-spin nzSimple></nz-spin>
          </div>
        </div>
      }
    </div>
    <div class="col-6"> <!--RIGHT COLUMN-->
      <wt-quick-actions></wt-quick-actions>
    </div>
  </div>
</div>
