.greeting {
  color: greenyellow;
  text-shadow: -1px 1px 0 #000,
				  1px 1px 0 #000,
				 1px -1px 0 #000,
				-1px -1px 0 #000;
}

.welcome-wallpaper {
  background-image: url('../../../assets/images/weight-room.jpg');
  height: 100vh;
}