.list-group {
  padding: 0px;
}

.user-select {
  cursor: pointer;
  /*width: 100%;*/
  padding-left: 0px;
  padding-right: 0px;
}

.user-select-panel {
  color: white;
  background-color: forestgreen;
}

.greeting-text {
  color: white;
}

.headroom {
  margin-top: 20px;
}

h4 {
  color: white;
}
