<div *ngIf="loadingUsers" class="container-fluid wallpaper">
  <br />
  <div class="row">
    <div class="col-12 text-center">
      <h4>Loading users...</h4><br />
      <p-progressSpinner></p-progressSpinner>
    </div>
  </div>
</div>

<div *ngIf="errorMsg" class="container-fluid wallpaper">
  <div class="row">
    <div class="offset-2 col-8 text-center">
      <br />
      <h4>Oops! An error occurred: {{errorMsg}}</h4>
    </div>
  </div>
</div>

<div *ngIf="!loadingUsers && errorMsg==null" class="container-fluid wallpaper">
  <br />
  <div class="row offset-md-4 col-md-4">
    <h3 *ngIf="!gettingUserInfo" class="text-center mx-auto greeting-text">Who are you?</h3>
    <h3 *ngIf="gettingUserInfo" class="text-center mx-auto greeting-text">Welcome {{username}}...</h3> <!--TODO: Add spinner graphic-->
  </div>

  <ng-container *ngIf="!gettingUserInfo">

    <div class="row offset-md-4 col-md-4 card centeredText userSelect">
      <div class="list-group">
        <div *ngFor="let user of users" (click)="selectUser(user.id, user.name)" class="list-group-item list-group-item-action list-group-item-success userSelectPanel">
          {{user.name}}
        </div>
      </div>
    </div>

    <div *ngIf="users && users.length == 0" class="row offset-md-4 col-md-4 centeredText gimmeSomeSpace greeting-text">
      No users have been created yet. Create one with the button below.
    </div>

    <div class="row offset-md-4 col-md-4 centeredText">
      <button type="button" class="btn btn-info btn-fullWidth headroom" routerLink='/admin/users/first'>Add User</button>
    </div>

  </ng-container>

</div>
