<h3 class="headroom">In-Progress Workouts</h3>
<h5>This is where you can find any workouts you've started but haven't yet finished (such as when you've accidentally
  closed your browser during a workout).</h5>
<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <nz-table #dt [nzData]="inProgressWorkouts()" [nzShowPagination]="false" [nzLoading]="loading()">
        <thead>
          <tr>
            <th>Workout Name</th>
            <th>Start Date/Time</th>
          </tr>
        </thead>
        <tbody>
          @for (executedWorkout of dt.data; track executedWorkout.id) {
            <tr class="workout-history">
              <td><a routerLink="/workouts/start/{{executedWorkout.id}}">{{executedWorkout.name}}</a></td>
              <td>{{executedWorkout.startDateTime | date:'M/d/yyyy, h:mm a'}}</td>
            </tr>
          }
        </tbody>
      </nz-table>
    </div>
  </div>
  @if (!loading() && inProgressWorkouts().length == 0) {
    <div class="row">
      <div class="col-12">
        There are no in-progress workouts.
      </div>
    </div>
  }
</div>