@use '../../../variables.scss' as v;

h3 {
  padding: 6px;
  background-image: linear-gradient(to right, v.$workout-color-six, v.$workout-color-gradient-end);
  //font-style: italic;
  color: v.$header-text-color-one;
}

h5 {
  padding: 6px;
}
