@use '../../../variables.scss' as v;

.number-of-sets {
    width: 50px;
}

.exerciseList:nth-child(even) {
    background: #CCC
}

.exerciseList:nth-child(odd) {
    background: #FFF
}

.exerciseName {
    width: 100%;
}

.exerciseRow {
    padding-bottom: 8px;
}

button.exerciseButton {
    margin-right: 4px;
}

.table>:not(:first-child) {
  border-top: 2px !important;
}

h3 {
  padding: 6px;
  background-image: linear-gradient(to right, v.$workout-color-five, v.$workout-color-gradient-end);
  //font-style: italic;
  color: v.$header-text-color-one;
}

.btn-add-exercise {
  color: v.$button-text-color-one;
  background-color: v.$workout-color-two;
}

.btn-save-workout {
  color: v.$button-text-color-one;
  background-color: v.$workout-color-five;
}