@use '../../../variables.scss' as v;

h3 {
  padding: 6px;
  background-image: linear-gradient(to right, v.$analytics-color-two, v.$analytics-color-gradient-end);
  //font-style: italic;
  color: v.$header-text-color-one;
}

.chart {
  max-height: 300px;
}

.count {
  width: 4em;
}

.workout-count {
  padding: 6px;
}

.exercise-label {
  padding-right: 67px;
}

.invisible {
  display: none;
}
