@import '../../../variables.scss';

h3 {
  padding: 6px;
  background-image: linear-gradient(to right, $analytics-color-two, $analytics-color-gradient-end);
  font-style: italic;
  color: $header-text-color-one;
}

.chart {
  max-height: 300px;
}

.count {
  width: 4em;
}

.workout-count {
  padding: 6px;
}

.exercise-label {
  padding-right: 67px;
}