<h3>Workout Progress</h3>

<div class="container-fluid">
  <form [formGroup]="form" novalidate>
    <div class="row">
      <div class="col-5">
        <label for="workoutId">Select a Workout</label>&nbsp;
        <select id="workoutId" formControlName="workoutId">
          <option [ngValue]="null" disabled selected>Please Select</option>
          @for(workout of workouts; track workout.id) {
            <option [ngValue]="workout.id">
              {{ workout.name }}
            </option>
          }
        </select>
      </div>
      <div class="col-7 workout-count">
        <label for="workoutCount"># of Most Recent Workouts to Retrieve</label>&nbsp;
        <input id="workoutCount" formControlName="workoutCount" wtSelectOnFocus type="number" class="count" required />
      </div>
    </div>
    <div class="row pt-2">
      @if (metrics && metrics.length > 0) {
        <div class="col-12">
          <label for="exerciseId" class="exercise-label">Exercise</label>
          <select id="exerciseId" formControlName="exerciseId">
            <option [ngValue]="null" disabled selected>Please Select</option>
            @for(metric of metrics[0].exerciseMetrics; track metric.exerciseId) {
              <option [ngValue]="metric.exerciseId">
                {{ metric.name }}
              </option>
            }
          </select>
        </div>
      }
    </div>
  </form>
</div>

@if (loadingData) {
  <div class="container-fluid">
    <br />
    <div class="row">
      <div class="col-12 text-center">
        <nz-spin nzTip="Getting data..."></nz-spin>      
      </div>
    </div>
  </div>
} @else {
  <div class="container-fluid">
    <br />
    @if (form.controls.workoutId.value && metrics.length == 0) {
      <em>No metrics exist for this workout.</em>
    } @else {
      @if (form.controls.exerciseId.value != null) {
        <nz-tabset>
          @if (formAndRangeOfMotionChartData) {
            <nz-tab nzTitle="Form and Range of Motion">
              <p-chart type="line" height="300px" [options]="formAndRangeOfMotionChartOptions"
                [data]="formAndRangeOfMotionChartData"></p-chart>
            </nz-tab>
          }
          @if (repsChartData) {
            <nz-tab nzTitle="Reps">
              <p-chart type="line" height="300px" [data]="repsChartData"></p-chart>
            </nz-tab>
          }
          @if (resistanceChartData) {
            <nz-tab nzTitle="Resistance">
              <p-chart type="line" height="300px" [data]="resistanceChartData"></p-chart>
            </nz-tab>
          }
        </nz-tabset>
      }
    }

  </div>
}