<h3 class="headroom">Workout Progress</h3>

<div class="container-fluid">
  <form [formGroup]="form" novalidate>
    <div class="row">
      <div class="col-4">
        <label>Select a Workout</label>&nbsp;
        <p-dropdown formControlName="workoutId" placeholder="Select a Workout" [options]="workouts" optionValue="id" optionLabel="name">
        </p-dropdown>
      </div>
      <div class="col-4">
        <label># of Most Recent Workouts to Retrieve</label>&nbsp;
        <input formControlName="workoutCount" wtSelectOnFocus pInputText type="number" class="count" required />
      </div>
      <div *ngIf="metrics && metrics.length > 0" class="col-4">
        <label>Exercise</label>&nbsp;
        <p-dropdown formControlName="exerciseId" placeholder="Select an Exercise" [options]="metrics[0].exerciseMetrics" optionValue="exerciseId" optionLabel="name">
        </p-dropdown>
      </div>
    </div>
  </form>
</div>

<div *ngIf="loadingData" class="container-fluid">
  <br />
  <div class="row">
    <div class="col-12 text-center">
      <h4>Getting data...</h4><br />
      <p-progressSpinner></p-progressSpinner>
    </div>
  </div>
</div>

<div *ngIf="!loadingData" class="container-fluid">
  <br />
  <!--TODO: Ditch the container and use a style to give us some margins-->
  <div class="row" *ngIf="formAndRangeOfMotionChartData">
    <div class="col-12">
      <p-chart type="line" height="300px" [options]="formAndRangeOfMotionChartOptions" [data]="formAndRangeOfMotionChartData"></p-chart>
    </div>
  </div>
  <br />
  <div class="row" *ngIf="repsChartData">
    <div class="col-12">
      <p-chart type="line" height="300px" [data]="repsChartData"></p-chart>
    </div>
  </div>
  <br />
  <div class="row" *ngIf="resistanceChartData">
    <div class="col-12">
      <p-chart type="line" height="300px" [data]="resistanceChartData"></p-chart>
    </div>
  </div>
</div>