<h3>Workout Progress</h3>

<div class="container-fluid">
  <form novalidate>
    <div class="row">
      <div class="col-5">
        <label for="workoutId">Select a Workout</label>&nbsp;
        <select id="workoutId" [formField]="form.workoutId">
          <option value="" disabled>Please Select</option>
          @for(workout of workouts(); track workout.id) {
            <option [value]="workout.id">
              {{ workout.name }}
            </option>
          }
        </select>
      </div>
      <div class="col-7 workout-count">
        <label for="workoutCount"># of Most Recent Workouts to Retrieve</label>&nbsp;
        <input id="workoutCount" [formField]="form.workoutCount" wtSelectOnFocus type="number" class="count" />
      </div>
    </div>
    <div class="row pt-2">
      @if (metrics() && metrics().length > 0) {
        <div class="col-12">
          <label for="exerciseId" class="exercise-label">Exercise</label>
          <select id="exerciseId" [formField]="form.exerciseId">
            <option value="" disabled>Please Select</option>
            @for(metric of metrics()[0].exerciseMetrics; track $index) {
              <option [value]="metric.exerciseId">
                {{ metric.name }}
              </option>
            }
          </select>
        </div>
      }
    </div>
  </form>
</div>

@if (loadingData()) {
  <div class="container-fluid">
    <br />
    <div class="row">
      <div class="col-12 text-center">
        <nz-spin nzTip="Getting data..."></nz-spin>      
      </div>
    </div>
  </div>
} @else {
  <div class="container-fluid">
    <br />
    @if (form.workoutId().value() && metrics().length == 0) {
      <em>No metrics exist for this workout.</em>
    }
    <div style="height: 300px;" [ngClass]="{'visible': form.exerciseId().value() !== '', 'invisible': form.exerciseId().value() === ''}">
      <nz-tabs>
        <nz-tab nzTitle="Form and Range of Motion">
          <div style="height: 300px">
            <canvas #formAndRangeOfMotionChart></canvas>
          </div>
        </nz-tab>
        <nz-tab nzTitle="Reps">
          <div style="height: 300px">
            <canvas #repsChart></canvas>
          </div>
        </nz-tab>
        <nz-tab nzTitle="Resistance">
          <div style="height: 300px">
            <canvas #resistanceChart></canvas>
          </div>
        </nz-tab>
      </nz-tabs>
    </div>
  </div>
}