<div *ngIf="gettingData" class="container-fluid">
  <br />
  <div class="row">
    <div class="col-12 text-center">
      <h4>Getting data...</h4><br />
      <p-progressSpinner></p-progressSpinner>
    </div>
  </div>
</div>

<div *ngIf="!gettingData" class="container-fluid">
  {{executedWorkoutsSummary.totalLoggedWorkouts}} logged workouts since {{executedWorkoutsSummary.firstLoggedWorkoutDateTime | date:'M/d/yyyy'}}

  <table>
    <thead>
      <tr>
        <th>Target Area</th>
        <th>Workouts Completed</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let workout of executedWorkoutsSummary.targetAreasWithWorkoutCounts | keyvalue">
        <td>{{workout.key}}</td>
        <td class="text-center">{{workout.value}}</td>
      </tr>
    </tbody>
  </table>
</div>