<h5>Recent Workouts</h5>
<div class="row" *ngFor="let workout of recentWorkouts">
  <div class="col-3">
    {{workout.name}}
  </div>
  <div class="col-3">
    <a type="button" class="button-type-link" (click)="viewExercises(workout.workoutId)">View Exercises</a>
  </div>
  <div class="col-3">
    <a type="button" class="button-type-link" (click)="doWorkout(workout.workoutId)">Do This Workout</a>
  </div>
  <div class="col-3">
    {{workout.startDateTime | date:'short'}}
  </div>
</div>

<p-dialog header="Workout Info" [(visible)]="showExercises">
  <wt-workout-info [workout]="selectedWorkout"></wt-workout-info>
</p-dialog>
