.number-of-sets {
    width: 50px;
}

.exerciseList:nth-child(even) {
    background: #CCC
}

.exerciseList:nth-child(odd) {
    background: #FFF
}

.exerciseName {
    width: 100%;
}

.exerciseRow {
    padding-bottom: 8px;
}

button.exerciseButton {
    margin-right: 4px;
}

.table>:not(:first-child) {
  border-top: 2px !important;
}