<div class="container form-group">
    <div *ngIf="loading" class="row">
        <div class="col-md-offset-5 col-md-1">
            <p-progressSpinner></p-progressSpinner>
        </div>
    </div>

    <form *ngIf="workoutForm && !loading" [formGroup]="workoutForm" novalidate>
        <div class="row">
            <div class="col-md-12 form-group">
                <input type="hidden" formControlName="id" />

                <label class="center-block" [ngClass]="{'has-error': workoutForm.controls['name'].touched && workoutForm.controls['name'].errors}">
                    Name:
                    <input class="form-control" formControlName="name" placeholder="Workout Name (required)" />
                    <span *ngIf="workoutForm.controls['name'].touched && workoutForm.controls['name']?.errors" class="errorText">Required</span>
                </label>
            </div>
        </div>

        <label class="center-block">
            <!--Sets (Repetition vs Timed vs Super)-->
            Exercises
        </label>

        <div class="table table-striped">
            <div class="row">
                <div class="col-md-6">Exercise Name</div>
                <div class="col-md-3">Number of Sets</div>
                <div class="col-md-3">Set Type</div>
            </div>

            <!--
            Useful example code at:
            https://jasonwatmore.com/post/2019/06/25/angular-8-dynamic-reactive-forms-example
            -->

            <!--TODO: Make these re-orderable-->
            <div *ngFor="let exercise of exercisesArray.controls; let i = index" class="row exerciseRow">
                <div [formGroup]="exercise">
                    <div class="col-md-6">
                        <input type="text" formControlName="exerciseName" [readonly]="true" class="exerciseName" required />
                    </div>
                    <div class="col-md-3">
                        # of sets: <input type="number" formControlName="numberOfSets" class="numberOfSets" />
                        <span *ngIf="exercise.controls['numberOfSets'].touched && exercise.controls['numberOfSets'].invalid" class="errorText">&nbsp;Required</span>
                    </div>
                    <div class="col-md-3">
                        <select formControlName="setType">
                            <option value="0">Repetition</option>
                            <option value="1">Timed</option>
                        </select>
                        <span *ngIf="exercise.controls['setType'].touched && exercise.controls['setType'].invalid" class="errorText">&nbsp;Required</span>
                    </div>
                </div>
            </div>

        </div>

        <p>
            <button class="btn btn-primary btn-sm" (click)="openModal(exerciseSelectModal)">Add Exercise to Workout</button>
        </p>

        <div class="row">
            <div class="col-md-8">
                <button type="submit" [disabled]="workoutForm.invalid || _saving" (click)="saveWorkout()" class="btn btn-success">Save</button>&nbsp;<span>{{infoMsg}}</span>
                <span *ngIf="workoutForm.touched && workoutForm.invalid" class="errorText">Please enter required information</span>
            </div>
        </div>
        <div *ngIf="_errorMsg" class="col-md-offset-2 col-md-4 errorText">
            {{_errorMsg}}
        </div>

    </form>

</div>

<!--MODAL-->
<ng-template #exerciseSelectModal>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Select an Exercise</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="_modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <wt-exercise-list-mini (exerciseSelected)="addExercise($event)"></wt-exercise-list-mini>
  </div>
</ng-template>

<!--MODAL-->
<ng-template #setDefinitionModal>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Exercise Set Definition</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="_modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <wt-workout-set-definition></wt-workout-set-definition>
  </div>
</ng-template>
