<div class="container form-group">
  <div *ngIf="_loading" class="row">
      <div class="col-md-offset-5 col-md-1">
          <p-progressSpinner></p-progressSpinner>
      </div>
  </div>

  <form *ngIf="workoutForm && !_loading" [formGroup]="workoutForm" novalidate>
      <div class="row">

          <div class="col-md-8 form-group">
              <input type="hidden" formControlName="id" />

              <label class="center-block" [ngClass]="{'has-error': workoutForm.controls['name'].touched && workoutForm.controls['name'].errors}">
                  Name:
                  <input class="form-control" formControlName="name" placeholder="Workout Name (required)" />
                  <span *ngIf="workoutForm.controls['name'].touched && workoutForm.controls['name']?.errors" class="errorText">Required</span>
              </label>

              <label class="center-block">
                  <!--Sets (Repetition vs Timed vs Super)-->
                  Exercises
              </label>
              <div *ngFor="let exercise of _workoutDTO.exercises">
                {{exercise.exercise.name}} # of sets: <input type="text" />
              </div>
              <p>
                <button class="btn btn-primary btn-sm" (click)="openModal(exerciseSelectModal)">Add Exercise to Workout</button>
              </p>
          </div>

      </div>

      <div class="row">
          <div class="col-md-8">
              <button type="submit" [disabled]="workoutForm.invalid || _saving" (click)="saveWorkout()" class="btn btn-success">Save</button>&nbsp;<span>{{infoMsg}}</span>
          </div>
      </div>
      <div *ngIf="_errorMsg" class="col-md-offset-2 col-md-4 errorText">
          {{_errorMsg}}
      </div>

  </form>
</div>

<ng-template #exerciseSelectModal>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Select an Exercise</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="_modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <wt-exercise-list-mini (exerciseSelected)="addExercise($event)"></wt-exercise-list-mini>
  </div>
</ng-template>

<ng-template #setDefinitionModal>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Exercise Set Definition</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="_modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <wt-workout-set-definition></wt-workout-set-definition>
  </div>
</ng-template>
