@import '/src/variables.scss';

.number-of-sets {
    width: 50px;
}

.exerciseList:nth-child(even) {
    background: #CCC
}

.exerciseList:nth-child(odd) {
    background: #FFF
}

.exerciseName {
    width: 100%;
}

.exerciseRow {
    padding-bottom: 8px;
}

button.exerciseButton {
    margin-right: 4px;
}

.table>:not(:first-child) {
  border-top: 2px !important;
}

h3 {
  padding: 6px;
  background-image: linear-gradient(to right, $workout-color-quinary, $workout-color-gradient-end);
  font-style: italic;
  color: $header-text-color-primary;
}

.btn-add-exercise {
  color: $button-text-color-primary;
  background-color: $workout-color-secondary;
}

.btn-save-workout {
  color: $button-text-color-primary;
  background-color: $workout-color-quinary;
}