@use '../../../variables.scss' as v;

.a-little-space {
  padding-top: 12px;
}

h3 {
  padding: 6px;
  background-image: linear-gradient(to right, v.$workout-color-two, v.$workout-color-gradient-end);
  //font-style: italic;
  color: v.$header-text-color-one;
}

select {
  height: 30px;
}

.btn-enter-info {
  color: v.$button-text-color-one;
  background-color: v.$workout-color-two;
}

.btn-duration {
  color: v.$button-text-color-one;
  background-color: v.$workout-color-three;

  &-disabled {
    color: white;
    background-color: gray;
  }
}