<h3>Log a Past Workout</h3>
<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      From here, you can enter information about a workout performed but not entered into Workout Tracker.
    </div>
  </div>
  <form [formGroup]="formGroup">
    <div class="row a-little-space">
      <div class="col-2">Select a Workout</div>
      <div class="col-3">
        <select formControlName="workoutPublicId">
          <option value="" disabled selected>Choose a Workout</option>
          @for(workout of workouts; track workout.id) {
            <option [value]="workout.id">
              {{ workout.name }}
            </option>
          }
        </select>
      </div>
      <div class="col-7">
        @if (formGroup.controls.workoutPublicId.dirty && formGroup.controls.workoutPublicId.errors) {
          <span class="text-danger">Required</span>
        }
      </div>
    </div>
    <div class="row a-little-space">
      <div class="col-2">
        <label for="startDateTime">Start Date/Time</label>
      </div>
      <div class="col-3">
        <p-datepicker formControlName="startDateTime" [showTime]="true" hourFormat="12" inputId="startDateTime"
          [showIcon]="true" [hideOnDateTimeSelect]="false">
          <!--https://github.com/primefaces/primeng/blob/f5129d8cc90475b239ae5e3412dbe9ed23de31f8/src/app/components/calendar/calendar.ts-->
          <ng-template pTemplate="footer">
            <div class="text-center">
              Click/Touch outside the calendar to close it
            </div>
          </ng-template>
        </p-datepicker>
      </div>
      <div class="col-7">
        @if (startDateTime.invalid && (startDateTime.touched || startDateTime.dirty) && startDateTime.errors?.required) {
          <span class="text-danger">
            Start Date/Time is required.
          </span>
        }
      </div>
    </div>
    <div class="row a-little-space">
      <div class="col-2">
        <label for="endDateTime">End Date/Time</label>
      </div>
      <div class="col-3">
        <p>
          <button [disabled]="formGroup.controls.startDateTime.invalid" 
            [ngClass]="{ 'btn-duration-disabled': formGroup.controls.startDateTime.invalid, 'btn-duration': !formGroup.controls.startDateTime.invalid }" (click)="enterDuration()">
            Get from Workout Duration
          </button>
        </p>
        <p>
          or
        </p>
        <p>
          Enter Manually<br />
          <p-datepicker id="endDateTime" name="endDateTime" formControlName="endDateTime" [showTime]="true"
            hourFormat="12" inputId="endDateTime" [showIcon]="true" [hideOnDateTimeSelect]="false">
            <ng-template pTemplate="footer">
              <div class="text-center">
                Click/Touch outside the calendar to close it
              </div>
            </ng-template>
          </p-datepicker>
        </p>
      </div>
      <div class="col-7">
        @if (endDateTime.invalid && (endDateTime.touched || endDateTime.dirty) && endDateTime.errors?.required) {
          <span class="text-danger">
            End Date/Time is required.
          </span>
        }
      </div>
    </div>
    <div class="row a-little-space">
      <div class="offset-1 col-3">
        <button [disabled]="!formGroup.valid" type="submit" (click)="proceedToWorkoutEntry()"
          class="btn btn-enter-info">Enter Workout Information</button>
      </div>
      <div class="col-8">
        @if (formGroup.invalid && (endDateTime.touched || endDateTime.dirty) && formGroup.errors?.startDateTimeVsEndDateTime) {
          <span class="text-danger">
            Start Date/Time must be earlier than End Date/Time
          </span>
        }
      </div>
    </div>
  </form>
</div>
<p-dialog [(visible)]="showDurationModal" header="Duration">
  <wt-duration       
    (okClicked)="durationModalAccepted($event)"
    (cancelClicked)="durationModalCancelled()">
  </wt-duration>
</p-dialog>