@use '../../../variables.scss' as v;

h3 {
  padding: 6px;
  background-image: linear-gradient(to right, v.$workout-color-three, v.$workout-color-gradient-end);
  //font-style: italic;
  color: v.$header-text-color-one;
}

.btn-plan {
  color: v.$button-text-color-one;
  background-color: v.$workout-color-three;
}
