<div [formGroup]="formGroup()" class="row set-type-row">
  <input type="hidden" formControlName="exerciseId" />
  <div class="col-md-12">
    {{formGroup().controls.setType.value == 0 ? "Repetition" : "Timed"}} Set(s) using
    <strong>{{formGroup().controls.resistanceType.value | resistanceType:false}}</strong> resistance:
  </div>
</div>

<div [formGroup]="formGroup()" class="row">
  <div class="col-md-12">
    <!--exerciseSets is the name of the FormArray on the FormGroup representing an Exercise which is passed in via an @Input()-->
    <div formArrayName="exerciseSets">

      <!--Set Header Row-->
      <div class="row mt-2">
        <div class="col-1">
          Set
        </div>
        <div class="col-4">
          Resistance
        </div>
        <div class="col-1 duration-div">
          Duration
        </div>
        <div class="col-1 reps-div">
          Target Reps
        </div>
        <div class="col-1 reps-div">
          Actual Reps
        </div>
        <div class="col-2">
          Form
        </div>
        <div class="col-2">
          Range of Motion
        </div>
      </div>
      <!--End Set Header Row-->

      <!--Set Detail Rows Loop-->
      @for (exerciseSet of setsArray.controls; track $index) {
        <div class="col-md-12" [formGroupName]="$index">
          <div class="exercise-row row" [ngStyle]="{'backgroundColor': ($index % 2 === 0)?'#d3d3d3':'#ffffff'}">

            <div class="col-1 exercise-info-div">
              {{$index + 1 }} {{exerciseSet.controls.side.value | exerciseSide}}
              @if (formGroup().controls.setType.value == setTypeEnum.Timed) {
                <button 
                  class="btn btn-sm btn-success"
                  (click)="showTimer(setsArray!.controls[$index])">
                  Start
                </button>
              } 
              &nbsp;
              @if ($index == 0 && setsArray.controls.length > 1 && (exerciseSet.controls.duration.dirty  || exerciseSet.controls.resistance.dirty || exerciseSet.controls.resistanceMakeup.dirty || exerciseSet.controls.targetReps.dirty)) {
                <button
                  class="btn btn-sm btn-primary" 
                  title="Apply these settings to the other sets for this exercise"
                  (click)="applySetChangesToAll()">
                  <i class="fa fa-clone" aria-hidden="true"></i>
                </button>
              }
            </div>

            <!--Resistance Amount-->
            <div class="col-4 exercise-info-div">
              
              @if (formGroup().controls.resistanceType.value < resistanceTypeEnum.ResistanceBand || formGroup().controls.resistanceType.value == resistanceTypeEnum.Other) {
                <input wtSelectOnFocus
                  type="number" 
                  class="form-control resistance-amount" 
                  formControlName="resistance" required />
              }

              @if (formGroup().controls.resistanceType.value == resistanceTypeEnum.BodyWeight) {
                <span><strong>Body Weight</strong></span>
              }

              @if (formGroup().controls.resistanceType.value == resistanceTypeEnum.ResistanceBand) {
                <span>
                  <button 
                    class="btn btn-sm btn-primary mild-margins"
                    (click)="selectResistanceBands(setsArray!.controls[$index])">
                    Edit
                  </button>
                  @if (exerciseSet.controls.resistanceMakeup.value) {
                    <span>
                      <span [innerHTML]="exerciseSet.controls.resistanceMakeup.value | resistanceBandColor"></span>
                      <span> ({{exerciseSet.controls.resistance.value | resistanceAmount}} Max)</span>
                    </span>
                  } @else {
                    <span>Not set</span>
                  }
                </span>
              }
            </div>

            <!--Duration-->
            <div class="col-1">
              @if (formGroup().controls.setType.value == setTypeEnum.Repetition) {
                <span class="exercise-info-span">N/A</span>
              } @else {
                <button 
                  class="btn btn-sm btn-primary duration-button"
                  (click)="editDuration(exerciseSet.controls.duration)">
                  {{exerciseSet.controls.duration.value | duration:true}}
                </button>
              }
            </div>

            <!--Target Reps-->
            <div class="col-1">
              @if (exerciseSet?.controls?.involvesReps?.value == false) {
                <span>N/A</span>
              } @else {
                <input wtSelectOnFocus 
                  type="number" 
                  class="form-control reps" 
                  formControlName="targetReps" required />
              }
            </div>

            <!--Actual Reps-->
            <div class="col-1">
              @if (exerciseSet?.controls?.involvesReps?.value == false) {
                <span>N/A</span>
              } @else {
                <input wtSelectOnFocus 
                  type="number"
                  class="form-control reps" 
                  formControlName="actualReps" required />
              }
            </div>

            <!--Form Rating-->
            <div class="col-2 exercise-dropdown-cell">
              <select class="form-select" formControlName="formRating" required>
                <!--TODO: Set up differenty, this is just for POC-->
                <option value=0>N/A</option>
                <option value=1>Bad</option>
                <option value=2>Poor</option>
                <option value=3>OK</option>
                <option value=4>Good</option>
                <option value=5>Excellent</option>
              </select>
            </div>

            <!--Range of Motion Rating-->
            <div class="col-2 exercise-dropdown-cell">
              <!--TODO: Remove the change handler and use the ReactiveForm instead-->
              <select class="form-select" formControlName="rangeOfMotionRating" (change)="rangeOfMotionChanged()"
                required> <!--TODO: Set up differenty, this is just for POC-->
                <option value=0>N/A</option>
                <option value=1>Bad</option>
                <option value=2>Poor</option>
                <option value=3>OK</option>
                <option value=4>Good</option>
                <option value=5>Excellent</option>
              </select>
            </div>
          </div>
        </div>
      }
      <!--End Set Detail Rows Loop-->

    </div>

  </div>
</div>
<div class="row">&nbsp;</div>