<div class="row set-type-row">
  <div class="col-md-12">
    {{field().setType().value() == 0 ? "Repetition" : "Timed"}} Set(s) using
    <strong>{{field().resistanceType().value() | resistanceType:false}}</strong> resistance:
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <!--exerciseSets is the array field on the Exercise field tree which is passed in via an @Input()-->
    <div>

      <!--Set Header Row-->
      <div class="row mt-2">
        <div class="col-1">
          Set
        </div>
        <div class="col-4">
          Resistance
        </div>
        <div class="col-1 duration-div">
          Duration
        </div>
        <div class="col-1 reps-div">
          Target Reps
        </div>
        <div class="col-1 reps-div">
          Actual Reps
        </div>
        <div class="col-2">
          Form
        </div>
        <div class="col-2">
          Range of Motion
        </div>
      </div>
      <!--End Set Header Row-->

      <!--Set Detail Rows Loop-->
      @for (setField of setsField; track $index) {
        <div class="col-md-12">
          <div class="exercise-row row" [ngStyle]="{'backgroundColor': ($index % 2 === 0)?'#d3d3d3':'#ffffff'}">

            <div class="col-1 exercise-info-div">
              {{$index + 1 }} {{setField.side().value() | exerciseSide}}
              @if (field().setType().value() == setTypeEnum.TIMED) {
                <button
                  type="button"
                  class="btn btn-sm btn-success"
                  (click)="showTimer(setField)">
                  Start
                </button>
              }
              &nbsp;
              @if ($index == 0 && setsField.length > 1 && (setField.duration().dirty()  || setField.resistance().dirty() || setField.resistanceMakeup().dirty() || setField.targetReps().dirty())) {
                <button
                  type="button"
                  class="btn btn-sm btn-primary"
                  title="Apply these settings to the other sets for this exercise"
                  (click)="applySetChangesToAll()">
                  <i class="fa fa-clone" aria-hidden="true"></i>
                </button>
              }
            </div>

            <!--Resistance Amount-->
            <div class="col-4 exercise-info-div">

              @if (field().resistanceType().value() < resistanceTypeEnum.RESISTANCE_BAND || field().resistanceType().value() == resistanceTypeEnum.OTHER) {
                <input wtSelectOnFocus
                  type="number"
                  class="form-control resistance-amount"
                  [formField]="setField.resistance" />
              }

              @if (field().resistanceType().value() == resistanceTypeEnum.BODY_WEIGHT) {
                <span><strong>Body Weight</strong></span>
              }

              @if (field().resistanceType().value() == resistanceTypeEnum.RESISTANCE_BAND) {
                <span>
                  <button
                    type="button"
                    class="btn btn-sm btn-primary mild-margins"
                    (click)="selectResistanceBands(setField)">
                    Edit
                  </button>
                  @if (setField.resistanceMakeup().value()) {
                    <span>
                      <span [innerHTML]="setField.resistanceMakeup().value() | resistanceBandColor"></span>
                      <span> ({{setField.resistance().value() | resistanceAmount}} Max)</span>
                    </span>
                  } @else {
                    <span>Not set</span>
                  }
                </span>
              }
            </div>

            <!--Duration-->
            <div class="col-1">
              @if (field().setType().value() == setTypeEnum.REPETITION) {
                <span class="exercise-info-span">N/A</span>
              } @else {
                <button
                  type="button"
                  class="btn btn-sm btn-primary duration-button"
                  (click)="editDuration(setField.duration)">
                  {{setField.duration().value() | duration:true}}
                </button>
              }
            </div>

            <!--Target Reps-->
            <div class="col-1">
              @if (setField.involvesReps().value() == false) {
                <span>N/A</span>
              } @else {
                <input wtSelectOnFocus
                  type="number"
                  class="form-control reps"
                  [formField]="setField.targetReps" />
              }
            </div>

            <!--Actual Reps-->
            <div class="col-1">
              @if (setField.involvesReps().value() == false) {
                <span>N/A</span>
              } @else {
                <input wtSelectOnFocus
                  type="number"
                  class="form-control reps"
                  [formField]="setField.actualReps" />
              }
            </div>

            <!--Form Rating-->
            <div class="col-2 exercise-dropdown-cell">
              <select class="form-select" [formField]="setField.formRating">
                <!--TODO: Set up differenty, this is just for POC-->
                <option value="0">N/A</option>
                <option value="1">Bad</option>
                <option value="2">Poor</option>
                <option value="3">OK</option>
                <option value="4">Good</option>
                <option value="5">Excellent</option>
              </select>
            </div>

            <!--Range of Motion Rating-->
            <div class="col-2 exercise-dropdown-cell">
              <!--TODO: Remove the change handler and use the form's dirty/valid state instead-->
              <select class="form-select" [formField]="setField.rangeOfMotionRating" (change)="rangeOfMotionChanged()">
                <!--TODO: Set up differenty, this is just for POC-->
                <option value="0">N/A</option>
                <option value="1">Bad</option>
                <option value="2">Poor</option>
                <option value="3">OK</option>
                <option value="4">Good</option>
                <option value="5">Excellent</option>
              </select>
            </div>
          </div>
        </div>
      }
      <!--End Set Detail Rows Loop-->

    </div>

  </div>
</div>
<div class="row">&nbsp;</div>
