@import '../../../variables.scss';

.bigger {
  width: 80%;
}

h3 {
  padding-top: 6px;
  padding-right: 6px;
  padding-bottom: 6px;
  padding-left: 14px;
  background-image: linear-gradient(to right, $workout-color-two, $workout-color-gradient-end);
  font-style: italic;
  color: $header-text-color-one;
}

h4 {
  padding-left: 14px;
}