@if (!loading) {
  <h3 class="headroom">{{workoutName}}</h3>
  @if (isLoggingPastWorkout) {
    <h4>PLEASE ENTER INFORMATION FOR THIS PREVIOUSLY COMPLETED WORKOUT BELOW</h4>
  }
}

<div class="container-fluid">
  @if (loading) {
    <div class="row">
      <div class="offset-md-5 col-md-1">
        <nz-spin nzSize="large" />
      </div>
    </div>
  }

  <p-toast position="center"></p-toast>

  @if (workoutForm && !loading) {
    <form [formGroup]="workoutForm" novalidate>
      <fieldset [disabled]="saving || (workoutCompleted && !isLoggingPastWorkout)">
        @if (workoutLoaded) {
          <p>
            @if (workoutStarted) {
              <span>Workout started {{startDateTime | date: 'EEEE, M/d/yyyy, h:mm a'}}</span>
            }

            @if (workoutCompleted) {
              <span>, completed {{endDateTime | date: 'EEEE, M/d/yyyy, h:mm a'}}</span>
            }
          </p>

          <p-accordion multiple="false" [value]="activeAccordionTab">
            @for (exercise of exercisesArray.controls; track $index) {
              <p-accordion-panel [value]="$index">
                <p-accordion-header headerStyleClass="exercise-header">
                  {{exercise.controls.exerciseName.value}}{{exercise.valid ? ' (DONE)' : ''}}
                </p-accordion-header>
                <p-accordion-content>
                  <wt-workout-exercise 
                  [formGroup]="exercise" 
                  (resistanceBandsSelect)="resistanceBandsModalEnabled($event)"
                  (showTimerRequest)="showTimer($event)"
                  (rangeOfMotionEntered)="saveWorkoutInProgress()"
                  (durationEdit)="openDurationModal($event)">
                </wt-workout-exercise>
                </p-accordion-content>
              </p-accordion-panel>
            }
          </p-accordion> 
  
          <div class="row">
            <div class="col-12">&nbsp;</div>
          </div>
  
          <div class="row bottom-padded">
            <div class="col-12">
              <label for="journal">Notes/Journal</label>
              <textarea id="journal" class="form-control" formControlName="journal"></textarea>
            </div>
          </div>
  
          <div class="row">
            <div class="col-12">
              @if (!workoutCompleted || isLoggingPastWorkout) {
                <button type="submit" class="btn btn-primary" [disabled]="!workoutForm.valid || saving || (workoutCompleted && !isLoggingPastWorkout)" (click)="completeWorkout()">Complete Workout</button>
              }
              
              @if (!workoutForm.valid) {
                <span class="error-text ms-2">Please enter the required information above to complete the workout.</span>
              }
              
              @if (saving) {
                <span>Saving...</span>&nbsp;{{infoMsg}}
              }
            </div>
          </div>
        }
      </fieldset>
    </form>
  }
  
  @if (workoutCompleted && !isLoggingPastWorkout) {
    <button class="btn btn-success" routerLink="/workouts/history">View Workout History</button>
    &nbsp;
    <button class="btn btn-success" routerLink="/workouts/select-for-later">Plan Next Workout</button>
  }

  <p></p> 

  <p-dialog header="Select Resistance Bands" [(visible)]="showResistanceBandsSelectModal" [blockScroll]="true">
    <wt-resistance-band-select 
      [resistanceBandInventory]="allResistanceBands"
      [exerciseUsesBilateralResistance]="settingResistanceForBilateralExercise"
      (okClicked)="resistanceBandsModalAccepted($event)"
      (cancelClicked)="resistanceBandsModalCancelled()"
      (rangeOfMotionEntered)="saveWorkoutInProgress()">
    </wt-resistance-band-select>
  </p-dialog>

  @if (formGroupForCountdownModal) {
    <p-dialog [style]="{width: '50vw'}" header="Timed Set Countdown" [(visible)]="showCountdownModal">
      <wt-countdown-timer
        [secondsToCountdown]="formGroupForCountdownModal.controls.duration!.value!"
        [secondsLeadInTime]="10"
        [activatedDateTime]="countdownModalActivatedDateTime"
        [targetReps]="formGroupForCountdownModal.controls.targetReps.value">
      </wt-countdown-timer>
    </p-dialog>
  }

  @if (formControlForDurationEdit) {
    <p-dialog header="Duration" [(visible)]="showDurationModal">
      <wt-duration 
        [currentDuration]="formControlForDurationEdit!.value!"
        (okClicked)="durationModalAccepted($event)"
        (cancelClicked)="durationModalCancelled()">
      </wt-duration>
    </p-dialog>
  }
</div>