@import '../../../variables.scss';

.ui-table table {
    width: 100%;
}

tr:nth-child(even) {
    background-color: lightgray;
}

th, td {
    padding: 5px;
}

h3 {
    padding: 6px;
    background-image: linear-gradient(to right, $exercise-color-one, $exercise-color-gradient-end);
    font-style: italic;
    color: $header-text-color-one;
}

.btn-add-exercise {
  color: $button-text-color-one;
  background-color: $exercise-color-two;
}