<h3 class="headroom">Exercises</h3>
<div class="container-fluid">
  <div class="row">
    <div class="col-6">
      Filter by Name &nbsp;<input [(ngModel)]="nameFilter" (ngModelChange)="nameFilterChange($event)" />
    </div>
    <div class="col-6">
      Filter by Target Areas
      <nz-select 
        [nzMaxTagCount]="3"
        nzMode="multiple"
        [nzMaxTagPlaceholder]="tagPlaceHolder"
        nzPlaceHolder="Please select"
        [(ngModel)]="_selectedTargetAreas" 
        class="ms-2 mb-2"
        (ngModelChange)="targetAreasFilterChange($event)"
        >
        @for (targetArea of targetAreas; track targetArea) {
          <nz-option [nzLabel]="targetArea" [nzValue]="targetArea"></nz-option>
        }
      </nz-select>
      <ng-template #tagPlaceHolder let-selectedList>and {{ selectedList.length }} more selected</ng-template>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <nz-table #dt [nzData]="exercises"
        [nzFrontPagination]="false"
        [nzShowSizeChanger]="true"
        [nzTotal]="totalRecords"
        [nzPageSize]="10"
        [nzLoading]="loading"
        (nzQueryParams)="getExercisesLazy($event)">
        <thead>
          <tr>
            <th>Name</th>
            <th>Target Areas</th>
          </tr>
        </thead>
        <tbody>
          @for (exercise of dt.data; track exercise.id) {
            <tr>
              <td>
                <a [routerLink]="['view/', exercise.publicId]">{{exercise.name}}</a>
                <a [routerLink]="['edit/', exercise.publicId]" style="padding-left:10px"><i class="fa fa-pencil"></i></a>
              </td>
              <td [style]="{'overflow': 'visible'}">{{exercise.targetAreas}}</td>
            </tr>
          }
        </tbody>
      </nz-table>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      @if (totalRecords > 0) {
        <span>{{totalRecords}} total exercises</span>
      } @else {
        <span>No exercises have been defined. Pleae add some using the button below.</span>
      }
    </div>
  </div>
  <div class="row bottom-padded">
    <div class="col-12">
      <button routerLink="/exercises/new" [disabled]="loading" class="btn btn-add-exercise">
        <i class="fa fa-plus"></i> Add New
      </button>
    </div>
  </div>
</div>