@use '../../../variables.scss' as v;

.ui-table table {
  width: 100%;
}
/*
tr:nth-child(even) {
    background-color: lightgray;
}

th, td {
    padding: 5px;
}
*/
h3 {
  padding: 6px;
  background-image: linear-gradient(to right, v.$exercise-color-one, v.$exercise-color-gradient-end);
  //font-style: italic;
  color: v.$header-text-color-one;
}

.btn-add-exercise {
  color: v.$button-text-color-one;
  background-color: v.$exercise-color-two;
}