<h3 class="headroom">Exercises</h3>
<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <nz-table #dt [nzData]="exercises()"
        [nzFrontPagination]="false"
        [nzShowSizeChanger]="true"
        [nzTotal]="totalRecords()"
        [(nzPageSize)]="pageSize"
        [(nzPageIndex)]="pageIndex"
        [nzLoading]="loading()"
        (nzQueryParams)="onQueryParamsChange($event)">
        <thead>
          <tr>
            <th nzCustomFilter>
              Name
              <nz-filter-trigger [(nzVisible)]="nameFilterVisible" [nzActive]="nameFilter().length > 0" [nzDropdownMenu]="menu">
                <nz-icon nzType="search" />
              </nz-filter-trigger>
            </th>
            <th nzColumnKey="targetAreas" [nzFilters]="targetAreaFilters()" [nzFilterFn]="true" [nzFilterMultiple]="true">Target Areas</th>
          </tr>
        </thead>
        <tbody>
          @for (exercise of dt.data; track exercise.id) {
            <tr>
              <td>
                <a [routerLink]="['view/', exercise.publicId]">{{exercise.name}}</a>
                <a [routerLink]="['edit/', exercise.publicId]" style="padding-left:10px"><i class="fa fa-pencil"></i></a>
              </td>
              <td [style]="{'overflow': 'visible'}">{{exercise.targetAreas}}</td>
            </tr>
          }
        </tbody>
      </nz-table>
    </div>
  </div>

  @if (totalRecords != null) {
    <div class="row mt-2 mb-2">
      <div class="col-3">{{totalRecords()}} total exercise(s)</div>
      @if (totalRecords() == 0) {
        <div class="col-9" style="font-style: italic">
          No exercises have been defined. Please create one using the "Add New" button below.
        </div>
      }
    </div>
  }    

  <div class="row bottom-padded">
    <div class="col-12">
      <button routerLink="/exercises/new" [disabled]="loading()" class="btn btn-add-exercise">
        <i class="fa fa-plus"></i> Add New
      </button>
    </div>
  </div>
</div>

<nz-dropdown-menu #menu="nzDropdownMenu">
  <div class="ant-table-filter-dropdown">
    <div class="search-box">
      <input type="text" nz-input placeholder="Exercise Name" [(ngModel)]="nameFilter" />
      <button nz-button nzSize="small" nzType="primary" (click)="search()" class="search-button">Search</button>
      <button nz-button nzSize="small" (click)="reset()">Reset</button>
    </div>
  </div>
</nz-dropdown-menu>