<div class="container">
  <form *ngIf="!loadingUserInfo" [formGroup]="userEditForm" novalidate>
    <div class="row">

      <div class="col-md-offset-4 col-md-4 form-group">
        <input type="hidden" formControlName="id" />

        <label class="center-block">
          Name:
          <input class="form-control" formControlName="name" placeholder="User Name (required)" />
          <span *ngIf="userEditForm.name?.errors">REQUIRED</span>
        </label>

        <!--TODO: Add ability to set password, upload profile pic-->
      </div>

    </div>

    <div class="row">
      <div class="col-md-offset-4 col-md-4">
        <button type="submit" [disabled]="userEditForm.invalid" (click)="saveUser()" class="btn btn-success">Save</button>
        &nbsp;
        <button type="button" [disabled]="savingUserInfo || loadingUserInfo" (click)="cancel()" class="btn btn-warning">Cancel</button>
        <span *ngIf="savingUserInfo">Saving...</span> <span *ngIf="errorMsg" class="errorText">{{errorMsg}}</span>
      </div>
    </div>
  </form>
</div>

