<div class="d-flex suggestions-container flex-column card-widget">

  <div class="d-flex suggestions px-2 pt-2">
    <div>
      <span>SUGGESTIONS</span>
    </div>
  </div>

  <div class="d-flex pt-2 px-2 border-bottom">
    <div style="width: 50%">
      Resistance Amount
    </div>
    <div style="width: 50%">
      <strong>
        <span>{{field().resistanceType().value()==3 ? 'Body Weight' : field().recommendedResistanceAmount().value() | resistanceAmount:field().resistanceType().value()==2}}</span>
        @if (field().recommendedResistanceMakeup().value()) {
          <br />(<span [innerHTML]="field().recommendedResistanceMakeup().value() | resistanceBandColor"></span>)
        }
      </strong>
    </div>
  </div>

  <div class="d-flex px-2 border-bottom">
    <div class="half-area">
      Target Rep Count
    </div>
    <div class="half-area">
      <strong>
        @if (field().involvesReps().value()) {
          <span>{{field().recommendedTargetRepCount().value()}}</span>
        } @else {
          <span>N/A</span>
        }
      </strong>
    </div>
  </div>

  <div class="bottom-padded px-2 inner-container half-area">
    <div>
      Reason(s)
    </div>
    <div>
      <span [innerHTML]="field().recommendationReason().value() | sentencesToTags"></span>
    </div>
  </div>

  <div class="align-content-end little-footroom px-2">
    <div class="w-100 text-center">
      <button type="button" class="lead-space btn btn-sm btn-use-suggestions" (click)="useSuggestions()">Use Suggestions</button>
    </div>
  </div>

</div>
