<div class="d-flex flex-column suggestions-container">

  <div class="suggestions">
    <div class="pt-2">
      <span class="section-title micro-widget-opaque">Suggestions</span>
    </div>
  </div>

  <div class="d-flex pt-2 bottom-padded px-2">
    <div style="width: 50%">
      <strong>Resistance Amount</strong>
    </div>
    <div style="width: 50%">
      <span>{{formGroup().controls.resistanceType.value==3 ? 'Body Weight' : formGroup().controls.recommendedResistanceAmount.value | resistanceAmount:formGroup().controls.resistanceType.value==2}}</span>
      @if (formGroup().controls.recommendedResistanceMakeup.value) {
        <span>
          (<span [innerHTML]="formGroup().controls.recommendedResistanceMakeup.value | resistanceBandColor"></span>)
        </span>
      }
    </div>
  </div>

  <div class="d-flex bottom-padded px-2">
    <div class="half-area">
      <strong>Target Rep Count</strong>
    </div>
    <div class="half-area">
      @if (formGroup().controls.involvesReps.value) {
        <span>{{formGroup().controls.recommendedTargetRepCount.value}}</span>
      } @else {
        <span>N/A</span>
      }
    </div>
  </div>

  <div class="d-flex bottom-padded px-2 inner-container half-area">
    <div class="half-area">
      <strong>Reason(s)</strong> 
    </div>
    <div class="half-area">
      <span>{{formGroup().controls.recommendationReason.value}}</span>
    </div>
  </div>

  <div class="d-flex align-content-end little-footroom px-2">
    <div style="width: 100%;">
      <button class="lead-space btn btn-sm btn-use-suggestions btn-fullWidth" (click)="useSuggestions()">Use Suggestions</button>
    </div>
  </div>

</div>