<p-pickList 
  [source]="availableBands" [target]="selectedBands" 
  sourceHeader="Available" targetHeader="Selected" 
  [showSourceControls]="false" [showTargetControls]="false"
  [sourceStyle]="{'min-width':'200px', 'max-height':'200px'}" [targetStyle]="{'min-width':'200px', 'max-height':'200px'}"
  [dragdrop]="true">
  <ng-template let-resistanceBand pTemplate="item">
      <div>
        <span [ngStyle]="{'color': resistanceBand.color}">{{resistanceBand.color}}</span>
      </div>
  </ng-template>
</p-pickList>
<div class="row">
  <div class="col-6">
    Max Available Resistance: {{maxAvailableResistance | resistanceAmount}}
  </div>
  <div class="col-6">
    Max Selected Resistance: {{maxSelectedResistance | resistanceAmount}}
  </div>
</div>
<div class="row col-12">
  <span *ngIf="showBilateralValidationFailure">
    This exercise uses bilateral resistance and must have equal resistance on each side. 
    The selected resistance can't be divided into two equal parts.
  </span>
  &nbsp;
</div>
<button class="btn btn-warning pull-right mild-margins" (click)="cancel()">Cancel</button>
<span style="width:100px"></span>
<button class="btn btn-success pull-right" (click)="ok()">OK</button>